## Import Library Yang Dibutuhkan

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Mengambil Data

In [36]:
data = pd.read_csv("Populasi Sapi Potong Tahun 2009-2020.csv")
data

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,Sumenep,KediriKota,BlitarKota,MalangKota,Probolinggokota,PasuruanKota,MojokertoKota,MadiunKota,Surabaya,Batu
0,2009,57783,61101,29806,95218,139542,114751,142344,145947,225417,...,296978,4404,3439,2745,8869,898,299,848,411,3565
1,2010,61612,63995,30980,99836,144790,123954,147865,157527,237675,...,316571,4487,3850,2786,9798,894,310,948,365,3687
2,2011,86138,89148,42560,129678,189378,268139,225895,200577,324230,...,357038,6236,3409,4430,10071,820,384,379,1126,3347
3,2012,94735,84315,43411,129549,200008,287943,240746,210039,350170,...,360862,6251,3549,4433,10473,596,355,385,740,3237
4,2013,76546,84751,29906,91789,132934,181727,189145,164892,217763,...,345095,3510,2689,4241,8519,334,162,299,218,2437
5,2014,81954,84514,31431,98987,135592,192631,199453,172920,236198,...,349081,3600,2797,4039,8863,305,154,303,116,2700
6,2015,83659,81807,32668,104824,139372,202263,212821,182993,243390,...,353124,3764,2920,3858,9217,332,127,306,265,2655
7,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,357422,3686,3076,3708,9592,379,145,306,223,2721
8,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,361127,4377,3180,3756,9983,428,138,297,129,2685
9,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,367382,4382,3225,2389,10397,432,104,290,112,2590
10,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,372623,3673,3467,2533,10764,425,102,239,45,2526
11,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,377124,3761,3855,2518,10934,457,88,223,39,2552
12,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,383059,4101,3863,2697,11061,454,103,209,113,2572
13,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,388090,4214,4044,2767,11429,466,104,205,158,2591

In [37]:
data_SMA = data
data_DMA = data

## SINGLE MOVING AVERAGE

In [38]:
periode = [5]
for i in periode:
    data_SMA['{}_MA_singlepacitan'.format(i)]= data['KabPacitan'].rolling(window=i).mean()
    data_SMA['{}_MA_singleponorogo'.format(i)]= data['KabPonorogo'].rolling(window=i).mean()
    data_SMA['{}_MA_singletrenggalek'.format(i)]= data['Trenggalek'].rolling(window=i).mean()
    data_SMA['{}_MA_singletulungagung'.format(i)]= data['Tulungagung'].rolling(window=i).mean()
    data_SMA['{}_MA_singleblitar'.format(i)]= data['Blitar'].rolling(window=i).mean()
    data_SMA['{}_MA_singlekediri'.format(i)]= data['Kediri'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemalang'.format(i)]= data['Malang'].rolling(window=i).mean()
    data_SMA['{}_MA_singlelumajang'.format(i)]= data['Lumajang'].rolling(window=i).mean()
    data_SMA['{}_MA_singlejember'.format(i)]= data['Jember'].rolling(window=i).mean()
    data_SMA['{}_MA_singlebanyuwangi'.format(i)]= data['Banyuwangi'].rolling(window=i).mean()
    data_SMA['{}_MA_singlebondowoso'.format(i)]= data['Bondowoso'].rolling(window=i).mean()
    data_SMA['{}_MA_singlesitubondo'.format(i)]= data['Situbondo'].rolling(window=i).mean()
    data_SMA['{}_MA_singleprobolinggo'.format(i)]= data['Probolinggo'].rolling(window=i).mean()
    data_SMA['{}_MA_singlepasuruan'.format(i)]= data['Pasuruan'].rolling(window=i).mean()
    data_SMA['{}_MA_singlesidoarjo'.format(i)]= data['Sidoarjo'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemojokerto'.format(i)]= data['Mojokerto'].rolling(window=i).mean()
    data_SMA['{}_MA_singlejombang'.format(i)]= data['Jombang'].rolling(window=i).mean()
    data_SMA['{}_MA_singlenganjuk'.format(i)]= data['Nganjuk'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemadiun'.format(i)]= data['Madiun'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemagetan'.format(i)]= data['Magetan'].rolling(window=i).mean()
    data_SMA['{}_MA_singlengawi'.format(i)]= data['Ngawi'].rolling(window=i).mean()
    data_SMA['{}_MA_singlebojonegoro'.format(i)]= data['Bojonegoro'].rolling(window=i).mean()
    data_SMA['{}_MA_singletuban'.format(i)]= data['Tuban'].rolling(window=i).mean()
    data_SMA['{}_MA_singlelamongan'.format(i)]= data['Lamongan'].rolling(window=i).mean()
    data_SMA['{}_MA_singlegresik'.format(i)]= data['Gresik'].rolling(window=i).mean()
    data_SMA['{}_MA_singlebangkalan'.format(i)]= data['Bangkalan'].rolling(window=i).mean()
    data_SMA['{}_MA_singlesampang'.format(i)]= data['Sampang'].rolling(window=i).mean()
    data_SMA['{}_MA_singlepamekasan'.format(i)]= data['Pamekasan'].rolling(window=i).mean()
    data_SMA['{}_MA_singlesumenep'.format(i)]= data['Sumenep'].rolling(window=i).mean()
    data_SMA['{}_MA_singlekediriKota'.format(i)]= data['KediriKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singleblitarKota'.format(i)]= data['BlitarKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemalangKota'.format(i)]= data['MalangKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singleprobolinggoKota'.format(i)]= data['Probolinggokota'].rolling(window=i).mean()
    data_SMA['{}_MA_singlepasuruanKota'.format(i)]= data['PasuruanKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemojokertoKota'.format(i)]= data['MojokertoKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemadiunKota'.format(i)]= data['MadiunKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singlesurabaya'.format(i)]= data['Surabaya'].rolling(window=i).mean()
    data_SMA['{}_MA_singlebatu'.format(i)]= data['Batu'].rolling(window=i).mean()
data_SMA

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,5_MA_singlesumenep,5_MA_singlekediriKota,5_MA_singleblitarKota,5_MA_singlemalangKota,5_MA_singleprobolinggoKota,5_MA_singlepasuruanKota,5_MA_singlemojokertoKota,5_MA_singlemadiunKota,5_MA_singlesurabaya,5_MA_singlebatu
0,2009,57783,61101,29806,95218,139542,114751,142344,145947,225417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,61612,63995,30980,99836,144790,123954,147865,157527,237675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,86138,89148,42560,129678,189378,268139,225895,200577,324230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,94735,84315,43411,129549,200008,287943,240746,210039,350170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,76546,84751,29906,91789,132934,181727,189145,164892,217763,...,335308.8,4977.6,3387.2,3727.0,9546.0,708.4,302.0,571.8,572.0,3254.6
5,2014,81954,84514,31431,98987,135592,192631,199453,172920,236198,...,345729.4,4816.8,3258.8,3985.8,9544.8,589.8,273.0,462.8,513.0,3081.6
6,2015,83659,81807,32668,104824,139372,202263,212821,182993,243390,...,353040.0,4672.2,3072.8,4200.2,9428.6,477.4,236.4,334.4,493.0,2875.2
7,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,353116.8,4162.2,3006.2,4055.8,9332.8,389.2,188.6,319.8,312.4,2750.0
8,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,353169.8,3787.4,2932.4,3920.4,9234.8,355.6,145.2,302.2,190.2,2639.6
9,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,357627.2,3961.8,3039.6,3550.0,9610.4,375.2,133.6,300.4,169.0,2670.2
10,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,362335.6,3976.4,3173.6,3248.8,9990.6,399.2,123.2,287.6,154.8,2635.4
11,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,367135.6,3975.8,3360.6,2980.8,10334.0,424.2,115.4,271.0,109.6,2614.8
12,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,372263.0,4058.8,3518.0,2778.6,10627.8,439.2,107.0,251.6,87.6,2585.0
13,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,377655.6,4026.2,3690.8,2580.8,10917.0,446.8,100.2,233.2,93.4,2566.2

## DOUBLE MOVING AVERAGE

In [39]:
periode = [5] 

for i in periode:
    single_ma = data['KabPacitan'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleKabPacitan'.format(i)]= single_ma.rolling(window=i).mean()
    
    single_ma1 = data['KabPonorogo'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleKabPonorogo'.format(i)]= single_ma1.rolling(window=i).mean()
    
    single_ma2 = data['Trenggalek'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleTrenggalek'.format(i)]= single_ma2.rolling(window=i).mean()
    
    single_ma3 = data['Tulungagung'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleTulungagung'.format(i)]= single_ma3.rolling(window=i).mean()
    
    single_ma4 = data['Blitar'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBlitar'.format(i)]= single_ma4.rolling(window=i).mean()
    
    single_ma5 = data['Kediri'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleKediri'.format(i)]= single_ma5.rolling(window=i).mean()
    
    single_ma6 = data['Malang'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMalang'.format(i)]= single_ma6.rolling(window=i).mean()
    
    single_ma7 = data['Lumajang'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleLumajang'.format(i)]= single_ma7.rolling(window=i).mean()
    
    single_ma8 = data['Jember'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleJember'.format(i)]= single_ma8.rolling(window=i).mean()
    
    single_ma9 = data['Banyuwangi'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBanyuwangi'.format(i)]= single_ma9.rolling(window=i).mean()
    
    single_ma10 = data['Bondowoso'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBondowoso'.format(i)]= single_ma10.rolling(window=i).mean()
    
    single_ma11 = data['Situbondo'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleSitubondo'.format(i)]= single_ma11.rolling(window=i).mean()
    
    single_ma12 = data['Probolinggo'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleProbolinggo'.format(i)]= single_ma12.rolling(window=i).mean()
    
    single_ma13 = data['Pasuruan'].rolling(window=i).mean()
    data_DMA['{}_MA_doublePasuruan'.format(i)]= single_ma13.rolling(window=i).mean()
    
    single_ma14 = data['Sidoarjo'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleSidoarjo'.format(i)]= single_ma14.rolling(window=i).mean()
    
    single_ma15 = data['Mojokerto'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMojokerto'.format(i)]= single_ma15.rolling(window=i).mean()
    
    single_ma16 = data['Jombang'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleJombang'.format(i)]= single_ma16.rolling(window=i).mean()
    
    single_ma17 = data['Nganjuk'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleNganjuk'.format(i)]= single_ma17.rolling(window=i).mean()
    
    single_ma18 = data['Madiun'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMadiun'.format(i)]= single_ma18.rolling(window=i).mean()
    
    single_ma19 = data['Magetan'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMagetan'.format(i)]= single_ma19.rolling(window=i).mean()
    
    single_ma20 = data['Ngawi'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleNgawi'.format(i)]= single_ma20.rolling(window=i).mean()
    
    single_ma21 = data['Bojonegoro'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBojonegoro'.format(i)]= single_ma21.rolling(window=i).mean()
    
    single_ma22 = data['Tuban'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleTuban'.format(i)]= single_ma22.rolling(window=i).mean()
    
    single_ma23 = data['Lamongan'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleLamongan'.format(i)]= single_ma23.rolling(window=i).mean()
    
    single_ma24 = data['Gresik'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleGresik'.format(i)]= single_ma24.rolling(window=i).mean()
    
    single_ma25 = data['Bangkalan'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBangkalan'.format(i)]= single_ma25.rolling(window=i).mean()
    
    single_ma26 = data['Sampang'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleSampang'.format(i)]= single_ma26.rolling(window=i).mean()
    
    single_ma27 = data['Pamekasan'].rolling(window=i).mean()
    data_DMA['{}_MA_doublePamekasan'.format(i)]= single_ma27.rolling(window=i).mean()
    
    single_ma28 = data['Sumenep'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleSumenep'.format(i)]= single_ma28.rolling(window=i).mean()
    
    single_ma29 = data['KediriKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleKediriKota'.format(i)]= single_ma29.rolling(window=i).mean()

    single_ma30 = data['BlitarKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBlitarKota'.format(i)]= single_ma30.rolling(window=i).mean()
    
    single_ma31 = data['MalangKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMalangKota'.format(i)]= single_ma31.rolling(window=i).mean()
    
    single_ma32 = data['Probolinggokota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleProbolinggoKota'.format(i)]= single_ma32.rolling(window=i).mean()
    
    single_ma33 = data['PasuruanKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doublePasuruanKota'.format(i)]= single_ma33.rolling(window=i).mean()
    
    single_ma34 = data['MojokertoKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMojokertoKota'.format(i)]= single_ma34.rolling(window=i).mean()
    
    single_ma35 = data['MadiunKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMadiunKota'.format(i)]= single_ma35.rolling(window=i).mean()
    
    single_ma36 = data['Surabaya'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleSurabaya'.format(i)]= single_ma36.rolling(window=i).mean()
    
    single_ma37 = data['Batu'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBatu'.format(i)]= single_ma37.rolling(window=i).mean()
    
#data_DMA.drop(['2_MA_single','3_MA_single','4_MA_single','5_MA_single'],axis=1,inplace=True)
data_DMA

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,5_MA_doubleSumenep,5_MA_doubleKediriKota,5_MA_doubleBlitarKota,5_MA_doubleMalangKota,5_MA_doubleProbolinggoKota,5_MA_doublePasuruanKota,5_MA_doubleMojokertoKota,5_MA_doubleMadiunKota,5_MA_doubleSurabaya,5_MA_doubleBatu
0,2009,57783,61101,29806,95218,139542,114751,142344,145947,225417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,61612,63995,30980,99836,144790,123954,147865,157527,237675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,86138,89148,42560,129678,189378,268139,225895,200577,324230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,94735,84315,43411,129549,200008,287943,240746,210039,350170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,76546,84751,29906,91789,132934,181727,189145,164892,217763,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2014,81954,84514,31431,98987,135592,192631,199453,172920,236198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,83659,81807,32668,104824,139372,202263,212821,182993,243390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,348072.96,4483.24,3131.48,3977.84,9417.40,504.08,229.04,398.20,416.12,2920.20
9,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,352536.64,4280.08,3061.96,3942.44,9430.28,437.44,195.36,343.92,335.52,2803.32
10,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,355857.88,4112.00,3044.92,3795.04,9519.44,399.32,165.40,308.88,263.88,2714.08
11,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,358677.00,3972.72,3102.48,3551.16,9700.52,388.68,141.20,296.20,187.20,2662.00
12,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,362506.24,3952.04,3204.84,3295.72,9959.52,398.68,124.88,282.56,142.24,2629.00
13,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,367403.40,3999.80,3356.52,3027.80,10295.96,416.92,115.88,268.76,122.88,2614.32

In [40]:
#ekspor data setelah proses ke dalam bentuk csv
data_DMA.to_csv('Hasil_DMA_5.csv', index=False)
Hasil_DMA_5 = pd.read_csv('Hasil_DMA_5.csv', encoding = 'latin1')
Hasil_DMA_5

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,5_MA_doubleSumenep,5_MA_doubleKediriKota,5_MA_doubleBlitarKota,5_MA_doubleMalangKota,5_MA_doubleProbolinggoKota,5_MA_doublePasuruanKota,5_MA_doubleMojokertoKota,5_MA_doubleMadiunKota,5_MA_doubleSurabaya,5_MA_doubleBatu
0,2009,57783,61101,29806,95218,139542,114751,142344,145947,225417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,61612,63995,30980,99836,144790,123954,147865,157527,237675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,86138,89148,42560,129678,189378,268139,225895,200577,324230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,94735,84315,43411,129549,200008,287943,240746,210039,350170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,76546,84751,29906,91789,132934,181727,189145,164892,217763,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2014,81954,84514,31431,98987,135592,192631,199453,172920,236198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,83659,81807,32668,104824,139372,202263,212821,182993,243390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,348072.96,4483.24,3131.48,3977.84,9417.40,504.08,229.04,398.20,416.12,2920.20
9,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,352536.64,4280.08,3061.96,3942.44,9430.28,437.44,195.36,343.92,335.52,2803.32
10,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,355857.88,4112.00,3044.92,3795.04,9519.44,399.32,165.40,308.88,263.88,2714.08
11,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,358677.00,3972.72,3102.48,3551.16,9700.52,388.68,141.20,296.20,187.20,2662.00
12,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,362506.24,3952.04,3204.84,3295.72,9959.52,398.68,124.88,282.56,142.24,2629.00
13,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,367403.40,3999.80,3356.52,3027.80,10295.96,416.92,115.88,268.76,122.88,2614.32

## AT

In [41]:
import math

def AT (SMA, DMA):
    DMA_AT = []

    for i in range (len(Hasil_DMA_5)):    
        TES = 0
        if math.isnan(Hasil_DMA_5['5_MA_single'+SMA][i]):
            continue
    
        if math.isnan(Hasil_DMA_5['5_MA_double'+DMA][i]):
            continue
    
        TES = 2 * Hasil_DMA_5['5_MA_single'+SMA][i] - Hasil_DMA_5['5_MA_double'+DMA][i]
    
    
        DMA_AT.append(TES)
    return DMA_AT  

    print (TES)

In [42]:
dataforAT = {'AT_KabPacitan' : AT ("pacitan", "KabPacitan"),
        'AT_KabPonorogo' : AT ("ponorogo", "KabPonorogo"),
        'AT_Trenggalek' : AT ("trenggalek", "Trenggalek"),
        'AT_Tulungagung' : AT ("tulungagung", "Tulungagung"),
        'AT_Blitar' : AT ("blitar", "Blitar"),
        'AT_Kediri' : AT ("kediri", "Kediri"),
        'AT_Malang' : AT ("malang", "Malang"),
        'AT_Lumajang' : AT ("lumajang", "Lumajang"),
        'AT_Jember' : AT ("jember", "Jember"),
        'AT_Banyuwangi' : AT ("banyuwangi", "Banyuwangi"),
        'AT_Bondowoso' : AT ("bondowoso", "Bondowoso"),
        'AT_Situbondo' : AT ("situbondo", "Situbondo"),
        'AT_Probolinggo' : AT ("probolinggo", "Probolinggo"),
        'AT_Pasuruan' : AT ("pasuruan", "Pasuruan"),
        'AT_Sidoarjo' : AT ("sidoarjo", "Sidoarjo"),
        'AT_Mojokerto' : AT ("mojokerto", "Mojokerto"),
        'AT_Jombang' : AT ("jombang", "Jombang"),
        'AT_Nganjuk' : AT ("nganjuk", "Nganjuk"),
        'AT_Madiun' : AT ("madiun", "Madiun"),
        'AT_Magetan' : AT ("magetan", "Magetan"),
        'AT_Ngawi' : AT ("ngawi", "Ngawi"),
        'AT_Bojonegoro' : AT ("bojonegoro", "Bojonegoro"),
        'AT_Tuban' : AT ("tuban", "Tuban"),
        'AT_Lamongan' : AT ("lamongan", "Lamongan"),
        'AT_Gresik' : AT ("gresik", "Gresik"),
        'AT_Bangkalan': AT ("bangkalan", "Bangkalan"),
        'AT_Sampang' : AT ("sampang", "Sampang"),
        'AT_Pamekasan' : AT ("pamekasan", "Pamekasan"),
        'AT_Sumenep' : AT ("sumenep", "Sumenep"),
        'AT_KediriKota' : AT ("kediriKota", "KediriKota"),
        'AT_BlitarKota' : AT ("blitarKota", "BlitarKota"),
        'AT_MalangKota' : AT ("malangKota", "MalangKota"),
        'AT_ProbolinggoKota' : AT ("probolinggoKota", "ProbolinggoKota"),
        'AT_PasuruanKota' : AT ("pasuruanKota" , "PasuruanKota"),
        'AT_MojokertoKota' : AT ("mojokertoKota", "MojokertoKota"),
        'AT_MadiunKota' : AT ("madiunKota", "MadiunKota"),
        'AT_Surabaya' : AT ("surabaya", "Surabaya"),
        'AT_Batu' : AT ("batu", "Batu")
       }
    
    
data_AT = pd.DataFrame(dataforAT)    
data_AT

,AT_KabPacitan,AT_KabPonorogo,AT_Trenggalek,AT_Tulungagung,AT_Blitar,AT_Kediri,AT_Malang,AT_Lumajang,AT_Jember,AT_Banyuwangi,...,AT_Sumenep,AT_KediriKota,AT_BlitarKota,AT_MalangKota,AT_ProbolinggoKota,AT_PasuruanKota,AT_MojokertoKota,AT_MadiunKota,AT_Surabaya,AT_Batu
0,83853.96,84116.64,30217.32,100145.88,124921.60,194774.64,218140.48,184793.24,216580.36,93984.04,...,358266.64,3091.56,2733.32,3862.96,9052.20,207.12,61.36,206.20,-35.72,2359.00
1,86751.32,82308.08,32928.48,112252.48,137724.04,210732.16,230017.36,198842.60,237326.64,109508.48,...,362717.76,3643.52,3017.24,3157.56,9790.52,312.96,71.84,256.88,2.48,2537.08
2,89159.32,81490.40,35444.08,123443.08,146593.60,224864.64,239910.64,210941.96,252242.12,119249.00,...,368813.32,3840.80,3302.28,2702.56,10461.76,399.08,81.00,266.32,45.72,2556.72
3,91352.00,83074.96,37557.48,133919.16,153462.92,237149.12,247508.56,221903.20,265960.92,126650.00,...,375594.20,3978.88,3618.72,2410.44,10967.48,459.72,89.60,245.80,32.00,2567.60
4,94684.84,84476.32,39013.84,142902.96,157965.32,242835.84,251485.48,228615.92,274716.20,132801.92,...,382019.76,4165.56,3831.16,2261.48,11296.08,479.72,89.12,220.64,32.96,2541.00
5,97223.44,85929.36,40120.00,151446.92,158121.96,243562.04,252646.64,233274.84,279672.64,137499.60,...,387907.80,4052.60,4025.08,2133.80,11538.04,476.68,84.52,197.64,63.92,2518.08

## BT

In [43]:
def BT (SMA, DMA):
    DMA_BT = []

    for i in range (len(Hasil_DMA_5)):    
        TES = 0
        if math.isnan(Hasil_DMA_5['5_MA_single'+SMA][i]):
            continue
    
        if math.isnan(Hasil_DMA_5['5_MA_double'+DMA][i]):
            continue
    
        TES = (2/(5-1)) * (Hasil_DMA_5['5_MA_single'+SMA][i] - Hasil_DMA_5['5_MA_double'+DMA][i])

    
        DMA_BT.append(TES)
    return DMA_BT

In [44]:
dataforBT = {'BT_KabPacitan' : BT ("pacitan", "KabPacitan"),
        'BT_KabPonorogo' : BT ("ponorogo", "KabPonorogo"),
        'BT_Trenggalek' : BT ("trenggalek", "Trenggalek"),
        'BT_Tulungagung' : BT ("tulungagung", "Tulungagung"),
        'BT_Blitar' : BT ("blitar", "Blitar"),
        'BT_Kediri' : BT ("kediri", "Kediri"),
        'BT_Malang' : BT ("malang", "Malang"),
        'BT_Lumajang' : BT ("lumajang", "Lumajang"),
        'BT_Jember' : BT ("jember", "Jember"),
        'BT_Banyuwangi' : BT ("banyuwangi", "Banyuwangi"),
        'BT_Bondowoso' : BT ("bondowoso", "Bondowoso"),
        'BT_Situbondo' : BT ("situbondo", "Situbondo"),
        'BT_Probolinggo' : BT ("probolinggo", "Probolinggo"),
        'BT_Pasuruan' : BT ("pasuruan", "Pasuruan"),
        'BT_Sidoarjo' : BT ("sidoarjo", "Sidoarjo"),
        'BT_Mojokerto' : BT ("mojokerto", "Mojokerto"),
        'BT_Jombang' : BT ("jombang", "Jombang"),
        'BT_Nganjuk' : BT ("nganjuk", "Nganjuk"),
        'BT_Madiun' : BT ("madiun", "Madiun"),
        'BT_Magetan' : BT ("magetan", "Magetan"),
        'BT_Ngawi' : BT ("ngawi", "Ngawi"),
        'BT_Bojonegoro' : BT ("bojonegoro", "Bojonegoro"),
        'BT_Tuban' : BT ("tuban", "Tuban"),
        'BT_Lamongan' : BT ("lamongan", "Lamongan"),
        'BT_Gresik' : BT ("gresik", "Gresik"),
        'BT_Bangkalan': BT ("bangkalan", "Bangkalan"),
        'BT_Sampang' : BT ("sampang", "Sampang"),
        'BT_Pamekasan' : BT ("pamekasan", "Pamekasan"),
        'BT_Sumenep' : BT ("sumenep", "Sumenep"),
        'BT_KediriKota' : BT ("kediriKota", "KediriKota"),
        'BT_BlitarKota' : BT ("blitarKota", "BlitarKota"),
        'BT_MalangKota' : BT ("malangKota", "MalangKota"),
        'BT_ProbolinggoKota' : BT ("probolinggoKota", "ProbolinggoKota"),
        'BT_PasuruanKota' : BT ("pasuruanKota" , "PasuruanKota"),
        'BT_MojokertoKota' : BT ("mojokertoKota", "MojokertoKota"),
        'BT_MadiunKota' : BT ("madiunKota", "MadiunKota"),
        'BT_Surabaya' : BT ("surabaya", "Surabaya"),
        'BT_Batu' : BT ("batu", "Batu")
       }
    
data_BT = pd.DataFrame(dataforBT)    
data_BT

,BT_KabPacitan,BT_KabPonorogo,BT_Trenggalek,BT_Tulungagung,BT_Blitar,BT_Kediri,BT_Malang,BT_Lumajang,BT_Jember,BT_Banyuwangi,...,BT_Sumenep,BT_KediriKota,BT_BlitarKota,BT_MalangKota,BT_ProbolinggoKota,BT_PasuruanKota,BT_MojokertoKota,BT_MadiunKota,BT_Surabaya,BT_Batu
0,610.68,558.62,-1132.04,-2044.26,-7305.10,-3833.98,3108.54,606.82,-11767.42,-7256.68,...,2548.42,-347.92,-99.54,-28.72,-91.30,-74.24,-41.92,-48.00,-112.96,-140.30
1,850.66,-195.36,-371.16,922.74,-3249.08,-684.52,4485.38,3296.50,-5438.48,-2339.46,...,2545.28,-159.14,-11.18,-196.22,90.06,-31.12,-30.88,-21.76,-83.26,-66.56
2,1116.16,-452.30,298.24,3385.14,-371.50,2388.12,5549.12,5370.88,-734.84,699.60,...,3238.86,-67.80,64.34,-273.12,235.58,-0.06,-21.10,-10.64,-54.54,-39.34
3,1474.50,39.38,831.64,5396.08,1828.36,5476.46,6393.08,7033.60,3460.36,2669.60,...,4229.30,1.54,129.06,-285.18,316.74,17.76,-12.90,-12.60,-38.80,-23.60
4,1984.82,378.66,1064.52,6509.48,2831.36,6139.72,6079.84,7255.46,5433.00,3853.46,...,4878.38,53.38,156.58,-258.56,334.14,20.26,-8.94,-15.48,-27.32,-22.00
5,2099.92,661.58,1065.70,6983.16,2156.68,4739.22,4815.52,6594.92,5215.82,3975.30,...,5126.10,13.20,167.14,-223.50,310.52,14.94,-7.84,-17.78,-14.74,-24.06

In [45]:
#menggabung data
a = data_AT
b = data_BT

data_ATBT = pd.concat([a,b], axis=1)
data_ATBT

,AT_KabPacitan,AT_KabPonorogo,AT_Trenggalek,AT_Tulungagung,AT_Blitar,AT_Kediri,AT_Malang,AT_Lumajang,AT_Jember,AT_Banyuwangi,...,BT_Sumenep,BT_KediriKota,BT_BlitarKota,BT_MalangKota,BT_ProbolinggoKota,BT_PasuruanKota,BT_MojokertoKota,BT_MadiunKota,BT_Surabaya,BT_Batu
0,83853.96,84116.64,30217.32,100145.88,124921.60,194774.64,218140.48,184793.24,216580.36,93984.04,...,2548.42,-347.92,-99.54,-28.72,-91.30,-74.24,-41.92,-48.00,-112.96,-140.30
1,86751.32,82308.08,32928.48,112252.48,137724.04,210732.16,230017.36,198842.60,237326.64,109508.48,...,2545.28,-159.14,-11.18,-196.22,90.06,-31.12,-30.88,-21.76,-83.26,-66.56
2,89159.32,81490.40,35444.08,123443.08,146593.60,224864.64,239910.64,210941.96,252242.12,119249.00,...,3238.86,-67.80,64.34,-273.12,235.58,-0.06,-21.10,-10.64,-54.54,-39.34
3,91352.00,83074.96,37557.48,133919.16,153462.92,237149.12,247508.56,221903.20,265960.92,126650.00,...,4229.30,1.54,129.06,-285.18,316.74,17.76,-12.90,-12.60,-38.80,-23.60
4,94684.84,84476.32,39013.84,142902.96,157965.32,242835.84,251485.48,228615.92,274716.20,132801.92,...,4878.38,53.38,156.58,-258.56,334.14,20.26,-8.94,-15.48,-27.32,-22.00
5,97223.44,85929.36,40120.00,151446.92,158121.96,243562.04,252646.64,233274.84,279672.64,137499.60,...,5126.10,13.20,167.14,-223.50,310.52,14.94,-7.84,-17.78,-14.74,-24.06

## FT

In [46]:
def FT (AT, BT):
    DMA_FT = []

    for i in range (len(data_ATBT)):    
        TES = 0
        if math.isnan(data_ATBT['AT_'+AT][i]):
            continue
    
        if math.isnan(data_ATBT['BT_'+BT][i]):
            continue
    
        TES = (data_ATBT['AT_'+AT][i] + data_ATBT['BT_'+BT][i])
    
    
        DMA_FT.append(TES)
    return DMA_FT

In [47]:
dataforFT = {'Tahun' : ("2018", "2019", "2020", "2021", "2022", "2023"),
        'FT_KabPacitan' : FT ("KabPacitan", "KabPacitan"),
        'FT_KabPonorogo' : FT ("KabPonorogo", "KabPonorogo"),
        'FT_Trenggalek' : FT ("Trenggalek", "Trenggalek"),
        'FT_Tulungagung' : FT ("Tulungagung", "Tulungagung"),
        'FT_Blitar' : FT ("Blitar", "Blitar"),
        'FT_Kediri' : FT ("Kediri", "Kediri"),
        'FT_Malang' : FT ("Malang", "Malang"),
        'FT_Lumajang' : FT ("Lumajang", "Lumajang"),
        'FT_Jember' : FT ("Jember", "Jember"),
        'FT_Banyuwangi' : FT ("Banyuwangi", "Banyuwangi"),
        'FT_Bondowoso' : FT ("Bondowoso", "Bondowoso"),
        'FT_Situbondo' : FT ("Situbondo", "Situbondo"),
        'FT_Probolinggo' : FT ("Probolinggo", "Probolinggo"),
        'FT_Pasuruan' : FT ("Pasuruan", "Pasuruan"),
        'FT_Sidoarjo' : FT ("Sidoarjo", "Sidoarjo"),
        'FT_Mojokerto' : FT ("Mojokerto", "Mojokerto"),
        'FT_Jombang' : FT ("Jombang", "Jombang"),
        'FT_Nganjuk' : FT ("Nganjuk", "Nganjuk"),
        'FT_Madiun' : FT ("Madiun", "Madiun"),
        'FT_Magetan' : FT ("Magetan", "Magetan"),
        'FT_Ngawi' : FT ("Ngawi", "Ngawi"),
        'FT_Bojonegoro' : FT ("Bojonegoro", "Bojonegoro"),
        'FT_Tuban' : FT ("Tuban", "Tuban"),
        'FT_Lamongan' : FT ("Lamongan", "Lamongan"),
        'FT_Gresik' : FT ("Gresik", "Gresik"),
        'FT_Bangkalan': FT ("Bangkalan", "Bangkalan"),
        'FT_Sampang' : FT ("Sampang", "Sampang"),
        'FT_Pamekasan' : FT ("Pamekasan", "Pamekasan"),
        'FT_Sumenep' : FT ("Sumenep", "Sumenep"),
        'FT_KediriKota' : FT ("KediriKota", "KediriKota"),
        'FT_BlitarKota' : FT ("BlitarKota", "BlitarKota"),
        'FT_MalangKota' : FT ("MalangKota", "MalangKota"),
        'FT_ProbolinggoKota' : FT ("ProbolinggoKota", "ProbolinggoKota"),
        'FT_PasuruanKota' : FT ("PasuruanKota" , "PasuruanKota"),
        'FT_MojokertoKota' : FT ("MojokertoKota", "MojokertoKota"),
        'FT_MadiunKota' : FT ("MadiunKota", "MadiunKota"),
        'FT_Surabaya' : FT ("Surabaya", "Surabaya"),
        'FT_Batu' : FT ("Batu", "Batu")
       }
    
data_FT = pd.DataFrame(dataforFT)    
data_FT

,Tahun,FT_KabPacitan,FT_KabPonorogo,FT_Trenggalek,FT_Tulungagung,FT_Blitar,FT_Kediri,FT_Malang,FT_Lumajang,FT_Jember,...,FT_Sumenep,FT_KediriKota,FT_BlitarKota,FT_MalangKota,FT_ProbolinggoKota,FT_PasuruanKota,FT_MojokertoKota,FT_MadiunKota,FT_Surabaya,FT_Batu
0,2018,84464.64,84675.26,29085.28,98101.62,117616.50,190940.66,221249.02,185400.06,204812.94,...,360815.06,2743.64,2633.78,3834.24,8960.90,132.88,19.44,158.20,-148.68,2218.70
1,2019,87601.98,82112.72,32557.32,113175.22,134474.96,210047.64,234502.74,202139.10,231888.16,...,365263.04,3484.38,3006.06,2961.34,9880.58,281.84,40.96,235.12,-80.78,2470.52
2,2020,90275.48,81038.10,35742.32,126828.22,146222.10,227252.76,245459.76,216312.84,251507.28,...,372052.18,3773.00,3366.62,2429.44,10697.34,399.02,59.90,255.68,-8.82,2517.38
3,2021,92826.50,83114.34,38389.12,139315.24,155291.28,242625.58,253901.64,228936.80,269421.28,...,379823.50,3980.42,3747.78,2125.26,11284.22,477.48,76.70,233.20,-6.80,2544.00
4,2022,96669.66,84854.98,40078.36,149412.44,160796.68,248975.56,257565.32,235871.38,280149.20,...,386898.14,4218.94,3987.74,2002.92,11630.22,499.98,80.18,205.16,5.64,2519.00
5,2023,99323.36,86590.94,41185.70,158430.08,160278.64,248301.26,257462.16,239869.76,284888.46,...,393033.90,4065.80,4192.22,1910.30,11848.56,491.62,76.68,179.86,49.18,2494.02

In [48]:
dataFT = data_FT.drop(labels=[5], axis=0) #menghapus baris

In [49]:
#ekspor data setelah proses
dataFT.to_csv('Hasil_FT_5.csv', index=False)
Hasil_FT_5 = pd.read_csv('Hasil_FT_5.csv', encoding = 'latin1')
Hasil_FT_5

,Tahun,FT_KabPacitan,FT_KabPonorogo,FT_Trenggalek,FT_Tulungagung,FT_Blitar,FT_Kediri,FT_Malang,FT_Lumajang,FT_Jember,...,FT_Sumenep,FT_KediriKota,FT_BlitarKota,FT_MalangKota,FT_ProbolinggoKota,FT_PasuruanKota,FT_MojokertoKota,FT_MadiunKota,FT_Surabaya,FT_Batu
0,2018,84464.64,84675.26,29085.28,98101.62,117616.50,190940.66,221249.02,185400.06,204812.94,...,360815.06,2743.64,2633.78,3834.24,8960.90,132.88,19.44,158.20,-148.68,2218.70
1,2019,87601.98,82112.72,32557.32,113175.22,134474.96,210047.64,234502.74,202139.10,231888.16,...,365263.04,3484.38,3006.06,2961.34,9880.58,281.84,40.96,235.12,-80.78,2470.52
2,2020,90275.48,81038.10,35742.32,126828.22,146222.10,227252.76,245459.76,216312.84,251507.28,...,372052.18,3773.00,3366.62,2429.44,10697.34,399.02,59.90,255.68,-8.82,2517.38
3,2021,92826.50,83114.34,38389.12,139315.24,155291.28,242625.58,253901.64,228936.80,269421.28,...,379823.50,3980.42,3747.78,2125.26,11284.22,477.48,76.70,233.20,-6.80,2544.00
4,2022,96669.66,84854.98,40078.36,149412.44,160796.68,248975.56,257565.32,235871.38,280149.20,...,386898.14,4218.94,3987.74,2002.92,11630.22,499.98,80.18,205.16,5.64,2519.00

In [50]:
#menampilkan hasil peramalan tahun 2022 saja
Hasil_FT_5.loc[4:4]

,Tahun,FT_KabPacitan,FT_KabPonorogo,FT_Trenggalek,FT_Tulungagung,FT_Blitar,FT_Kediri,FT_Malang,FT_Lumajang,FT_Jember,...,FT_Sumenep,FT_KediriKota,FT_BlitarKota,FT_MalangKota,FT_ProbolinggoKota,FT_PasuruanKota,FT_MojokertoKota,FT_MadiunKota,FT_Surabaya,FT_Batu
4,2022,96669.66,84854.98,40078.36,149412.44,160796.68,248975.56,257565.32,235871.38,280149.2,...,386898.14,4218.94,3987.74,2002.92,11630.22,499.98,80.18,205.16,5.64,2519.0

In [51]:
dataaktual = pd.read_csv("Populasi Sapi Potong Tahun 2009-2020.csv")
dataaktual

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,Sumenep,KediriKota,BlitarKota,MalangKota,Probolinggokota,PasuruanKota,MojokertoKota,MadiunKota,Surabaya,Batu
0,2009,57783,61101,29806,95218,139542,114751,142344,145947,225417,...,296978,4404,3439,2745,8869,898,299,848,411,3565
1,2010,61612,63995,30980,99836,144790,123954,147865,157527,237675,...,316571,4487,3850,2786,9798,894,310,948,365,3687
2,2011,86138,89148,42560,129678,189378,268139,225895,200577,324230,...,357038,6236,3409,4430,10071,820,384,379,1126,3347
3,2012,94735,84315,43411,129549,200008,287943,240746,210039,350170,...,360862,6251,3549,4433,10473,596,355,385,740,3237
4,2013,76546,84751,29906,91789,132934,181727,189145,164892,217763,...,345095,3510,2689,4241,8519,334,162,299,218,2437
5,2014,81954,84514,31431,98987,135592,192631,199453,172920,236198,...,349081,3600,2797,4039,8863,305,154,303,116,2700
6,2015,83659,81807,32668,104824,139372,202263,212821,182993,243390,...,353124,3764,2920,3858,9217,332,127,306,265,2655
7,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,357422,3686,3076,3708,9592,379,145,306,223,2721
8,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,361127,4377,3180,3756,9983,428,138,297,129,2685
9,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,367382,4382,3225,2389,10397,432,104,290,112,2590
10,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,372623,3673,3467,2533,10764,425,102,239,45,2526
11,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,377124,3761,3855,2518,10934,457,88,223,39,2552
12,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,383059,4101,3863,2697,11061,454,103,209,113,2572
13,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,388090,4214,4044,2767,11429,466,104,205,158,2591

In [18]:
data_aktualformape = dataaktual.drop(labels=[0,1,2,3,4,5,6,7,8], axis=0) #mengahpus beberapa baris
data_aktualformape.to_csv('dataaktualformape_5.csv', index=False)
dataaktualformape_ = pd.read_csv('dataaktualformape_5.csv', encoding = 'latin1')
dataaktualformape_

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,Sumenep,KediriKota,BlitarKota,MalangKota,Probolinggokota,PasuruanKota,MojokertoKota,MadiunKota,Surabaya,Batu
0,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,367382,4382,3225,2389,10397,432,104,290,112,2590
1,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,372623,3673,3467,2533,10764,425,102,239,45,2526
2,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,377124,3761,3855,2518,10934,457,88,223,39,2552
3,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,383059,4101,3863,2697,11061,454,103,209,113,2572
4,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,388090,4214,4044,2767,11429,466,104,205,158,2591

In [52]:
#menggabungkan data
c = dataaktualformape_
d = Hasil_FT_5

dataformape = pd.concat([c,d], axis=1)
dataformape

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,FT_Sumenep,FT_KediriKota,FT_BlitarKota,FT_MalangKota,FT_ProbolinggoKota,FT_PasuruanKota,FT_MojokertoKota,FT_MadiunKota,FT_Surabaya,FT_Batu
0,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,360815.06,2743.64,2633.78,3834.24,8960.90,132.88,19.44,158.20,-148.68,2218.70
1,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,365263.04,3484.38,3006.06,2961.34,9880.58,281.84,40.96,235.12,-80.78,2470.52
2,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,372052.18,3773.00,3366.62,2429.44,10697.34,399.02,59.90,255.68,-8.82,2517.38
3,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,379823.50,3980.42,3747.78,2125.26,11284.22,477.48,76.70,233.20,-6.80,2544.00
4,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,386898.14,4218.94,3987.74,2002.92,11630.22,499.98,80.18,205.16,5.64,2519.00

## MAPE

In [53]:
def mape (aktual, prediksi):
    hasil_mape = []

    for i in range (len(dataformape)):    
        TES = 0
        if math.isnan(dataformape[aktual][i]):
            continue
    
        if math.isnan(dataformape['FT_'+prediksi][i]):
            continue
    
        TES = np.abs(((dataformape[aktual][i])-(dataformape['FT_'+prediksi][i]))/(dataformape[aktual][i]))*100

    
        hasil_mape.append(TES)
    return hasil_mape

In [54]:
datamape = {'Tahun' : ("2018", "2019", "2020", "2021", "2022"),
            'mape_KabPacitan' : mape ("KabPacitan", "KabPacitan"),
            'mape_KabPonorogo' : mape ("KabPonorogo", "KabPonorogo"),
            'mape_Trenggalek' : mape ("Trenggalek", "Trenggalek"),
            'mape_Tulungagung' : mape ("Tulungagung", "Tulungagung"),
            'mape_Blitar' : mape ("Blitar", "Blitar"),
            'mape_Kediri' : mape ("Kediri", "Kediri"),
            'mape_Malang' : mape ("Malang", "Malang"),
            'mape_Lumajang' : mape ("Lumajang", "Lumajang"),
            'mape_Jember' : mape ("Jember", "Jember"),
            'mape_Banyuwangi' : mape ("Banyuwangi", "Banyuwangi"),
            'mape_Bondowoso' : mape ("Bondowoso", "Bondowoso"),
            'mape_Situbondo' : mape ("Situbondo", "Situbondo"),
            'mape_Probolinggo' : mape ("Probolinggo", "Probolinggo"),
            'mape_Pasuruan' : mape ("Pasuruan", "Pasuruan"),
            'mape_Sidoarjo' : mape ("Sidoarjo", "Sidoarjo"),
            'mape_Mojokerto' : mape ("Mojokerto", "Mojokerto"),
            'mape_Jombang' : mape ("Jombang", "Jombang"),
            'mape_Nganjuk' : mape ("Nganjuk", "Nganjuk"),
            'mape_Madiun' : mape ("Madiun", "Madiun"),
            'mape_Magetan' : mape ("Magetan", "Magetan"),
            'mape_Ngawi' : mape ("Ngawi", "Ngawi"),
            'mape_Bojonegoro' : mape ("Bojonegoro", "Bojonegoro"),
            'mape_Tuban' : mape ("Tuban", "Tuban"),
            'mape_Lamongan' : mape ("Lamongan", "Lamongan"),
            'mape_Gresik' : mape ("Gresik", "Gresik"),
            'mape_Bangkalan': mape ("Bangkalan", "Bangkalan"),
            'mape_Sampang' : mape ("Sampang", "Sampang"),
            'mape_Pamekasan' : mape ("Pamekasan", "Pamekasan"),
            'mape_Sumenep' : mape ("Sumenep", "Sumenep"),
            'mape_KediriKota' : mape ("KediriKota", "KediriKota"),
            'mape_BlitarKota' : mape ("BlitarKota", "BlitarKota"),
            'mape_MalangKota' : mape ("MalangKota", "MalangKota"),
            'mape_ProbolinggoKota' : mape ("Probolinggokota", "ProbolinggoKota"),
            'mape_PasuruanKota' : mape ("PasuruanKota" , "PasuruanKota"),
            'mape_MojokertoKota' : mape ("MojokertoKota", "MojokertoKota"),
            'mape_MadiunKota' : mape ("MadiunKota", "MadiunKota"),
            'mape_Surabaya' : mape ("Surabaya", "Surabaya"),
            'mape_Batu' : mape ("Batu", "Batu")
       }

Hasil_mape = pd.DataFrame(datamape) 
Hasil_mape

,Tahun,mape_KabPacitan,mape_KabPonorogo,mape_Trenggalek,mape_Tulungagung,mape_Blitar,mape_Kediri,mape_Malang,mape_Lumajang,mape_Jember,...,mape_Sumenep,mape_KediriKota,mape_BlitarKota,mape_MalangKota,mape_ProbolinggoKota,mape_PasuruanKota,mape_MojokertoKota,mape_MadiunKota,mape_Surabaya,mape_Batu
0,2018,4.702944,1.714468,18.876300,20.016290,24.790902,16.989540,5.755632,10.968940,20.678167,...,1.787496,37.388407,18.332403,60.495605,13.812638,69.240741,81.307692,45.448276,232.750000,14.335907
1,2019,4.091374,1.063052,12.750047,13.153243,11.040354,9.682956,1.586045,4.953097,12.076652,...,1.975176,5.135312,13.295068,16.910383,8.207172,33.684706,59.843137,1.623431,279.511111,2.196358
2,2020,0.838674,4.450851,5.695575,7.488807,3.623715,2.383674,1.274393,2.197005,6.860194,...,1.344868,0.319064,12.668742,3.517077,2.164441,12.687090,31.931818,14.654709,122.615385,1.356583
3,2021,3.259374,3.035209,1.160865,3.788482,0.950588,3.607775,2.905007,1.571825,1.729167,...,0.844648,2.940258,2.982656,21.199110,2.018082,5.171806,25.533981,11.578947,106.017699,1.088647
4,2022,1.511253,1.627679,0.110806,2.049679,3.111809,3.372843,1.832649,1.256688,0.029350,...,0.307109,0.117228,1.391197,27.614022,1.760609,7.291845,22.903846,0.078049,96.430380,2.778850

In [55]:
def totalmape (mape):
    total_mape = (Hasil_mape['mape_'+mape]).mean()  
    
    return total_mape

In [56]:
totalmape = {'KabPacitan' : (Hasil_mape['mape_KabPacitan'].mean()),
            'KabPonorogo' : (Hasil_mape['mape_KabPonorogo'].mean()),
            'Trenggalek' : (Hasil_mape['mape_Trenggalek'].mean()),
            'Tulungagung' : (Hasil_mape['mape_Tulungagung'].mean()),
            'Blitar' : (Hasil_mape['mape_Blitar'].mean()),
            'Kediri' : (Hasil_mape['mape_Kediri'].mean()),
            'Malang' : (Hasil_mape['mape_Malang'].mean()),
            'Lumajang' : (Hasil_mape['mape_Lumajang'].mean()),
            'Jember' : (Hasil_mape['mape_Jember'].mean()),
            'Banyuwangi' : (Hasil_mape['mape_Banyuwangi'].mean()),
            'Bondowoso' : (Hasil_mape['mape_Bondowoso'].mean()),
            'Situbondo' : (Hasil_mape['mape_Situbondo'].mean()),
            'Probolinggo' : (Hasil_mape['mape_Probolinggo'].mean()),
            'Pasuruan' : (Hasil_mape['mape_Pasuruan'].mean()),
            'Sidoarjo' : (Hasil_mape['mape_Sidoarjo'].mean()),
            'Mojokerto' : (Hasil_mape['mape_Mojokerto'].mean()),
            'Jombang' : (Hasil_mape['mape_Jombang'].mean()),
            'Nganjuk' : (Hasil_mape['mape_Nganjuk'].mean()),
            'Madiun' : (Hasil_mape['mape_Madiun'].mean()),
            'Magetan' : (Hasil_mape['mape_Magetan'].mean()),
            'Ngawi' : (Hasil_mape['mape_Ngawi'].mean()),
            'Bojonegoro' : (Hasil_mape['mape_Bojonegoro'].mean()),
            'Tuban' : (Hasil_mape['mape_Tuban'].mean()),
            'Lamongan' : (Hasil_mape['mape_Lamongan'].mean()),
            'Gresik' : (Hasil_mape['mape_Gresik'].mean()),
            'Bangkalan' : (Hasil_mape['mape_Bangkalan'].mean()),
            'Sampang' : (Hasil_mape['mape_Sampang'].mean()),
            'Pamekasan' : (Hasil_mape['mape_Pamekasan'].mean()),
            'Sumenep' : (Hasil_mape['mape_Sumenep'].mean()),
            'KediriKota' : (Hasil_mape['mape_KediriKota'].mean()),
            'BlitarKota' : (Hasil_mape['mape_BlitarKota'].mean()),
            'MalangKota' : (Hasil_mape['mape_MalangKota'].mean()),
            'ProbolinggoKota' : (Hasil_mape['mape_ProbolinggoKota'].mean()),
            'PasuruanKota' : (Hasil_mape['mape_PasuruanKota'].mean()),
            'MojokertoKota' : (Hasil_mape['mape_MojokertoKota'].mean()),
            'MadiunKota' : (Hasil_mape['mape_MadiunKota'].mean()),
            'Surabaya' : (Hasil_mape['mape_Surabaya'].mean()),
            'Batu' : (Hasil_mape['mape_Batu'].mean())
           }

total_mape = pd.DataFrame(totalmape, index=[0])
total_mape

,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,Banyuwangi,...,Sumenep,KediriKota,BlitarKota,MalangKota,ProbolinggoKota,PasuruanKota,MojokertoKota,MadiunKota,Surabaya,Batu
0,2.880724,2.378252,7.718719,9.2993,8.703474,7.207358,2.670745,4.189511,8.274706,10.937237,...,1.25186,9.180054,9.734013,25.947239,5.592588,25.615238,44.304095,14.676682,167.464915,4.351269

In [57]:
totalmape = total_mape.T
hasilakhirmape = totalmape[0].mean()
print ("hasil akhir mape adalah =", hasilakhirmape)

hasil akhir mape adalah = 12.862132597933277

## MAD

In [58]:
def mad (aktual, prediksi):
    hasil_mad = []

    for i in range (len(dataformape)):    
        TES = 0
        if math.isnan(dataformape[aktual][i]):
            continue
    
        if math.isnan(dataformape['FT_'+prediksi][i]):
            continue
    
        TES = np.mean(np.abs((dataformape[aktual][i])-(dataformape['FT_'+prediksi][i])))
    
        hasil_mad.append(TES)
    return hasil_mad

In [59]:
datamad = { 'Tahun' : ("2018", "2019", "2020", "2021", "2022"),
            'mad_KabPacitan' : mad ("KabPacitan", "KabPacitan"),
            'mad_KabPonorogo' : mad ("KabPonorogo", "KabPonorogo"),
            'mad_Trenggalek' : mad ("Trenggalek", "Trenggalek"),
            'mad_Tulungagung' : mad ("Tulungagung", "Tulungagung"),
            'mad_Blitar' : mad ("Blitar", "Blitar"),
            'mad_Kediri' : mad ("Kediri", "Kediri"),
            'mad_Malang' : mad ("Malang", "Malang"),
            'mad_Lumajang' : mad ("Lumajang", "Lumajang"),
            'mad_Jember' : mad ("Jember", "Jember"),
            'mad_Banyuwangi' : mad ("Banyuwangi", "Banyuwangi"),
            'mad_Bondowoso' : mad ("Bondowoso", "Bondowoso"),
            'mad_Situbondo' : mad ("Situbondo", "Situbondo"),
            'mad_Probolinggo' : mad ("Probolinggo", "Probolinggo"),
            'mad_Pasuruan' : mad ("Pasuruan", "Pasuruan"),
            'mad_Sidoarjo' : mad ("Sidoarjo", "Sidoarjo"),
            'mad_Mojokerto' : mad ("Mojokerto", "Mojokerto"),
            'mad_Jombang' : mad ("Jombang", "Jombang"),
            'mad_Nganjuk' : mad ("Nganjuk", "Nganjuk"),
            'mad_Madiun' : mad ("Madiun", "Madiun"),
            'mad_Magetan' : mad ("Magetan", "Magetan"),
            'mad_Ngawi' : mad ("Ngawi", "Ngawi"),
            'mad_Bojonegoro' : mad ("Bojonegoro", "Bojonegoro"),
            'mad_Tuban' : mad ("Tuban", "Tuban"),
            'mad_Lamongan' : mad ("Lamongan", "Lamongan"),
            'mad_Gresik' : mad ("Gresik", "Gresik"),
            'mad_Bangkalan': mad ("Bangkalan", "Bangkalan"),
            'mad_Sampang' : mad ("Sampang", "Sampang"),
            'mad_Pamekasan' : mad ("Pamekasan", "Pamekasan"),
            'mad_Sumenep' : mad ("Sumenep", "Sumenep"),
            'mad_KediriKota' : mad ("KediriKota", "KediriKota"),
            'mad_BlitarKota' : mad ("BlitarKota", "BlitarKota"),
            'mad_MalangKota' : mad ("MalangKota", "MalangKota"),
            'mad_ProbolinggoKota' : mad ("Probolinggokota", "ProbolinggoKota"),
            'mad_PasuruanKota' : mad ("PasuruanKota" , "PasuruanKota"),
            'mad_MojokertoKota' : mad ("MojokertoKota", "MojokertoKota"),
            'mad_MadiunKota' : mape ("MadiunKota", "MadiunKota"),
            'mad_Surabaya' : mad ("Surabaya", "Surabaya"),
            'mad_Batu' : mad ("Batu", "Batu")
       }

Hasil_mad = pd.DataFrame(datamad) 
Hasil_mad

,Tahun,mad_KabPacitan,mad_KabPonorogo,mad_Trenggalek,mad_Tulungagung,mad_Blitar,mad_Kediri,mad_Malang,mad_Lumajang,mad_Jember,...,mad_Sumenep,mad_KediriKota,mad_BlitarKota,mad_MalangKota,mad_ProbolinggoKota,mad_PasuruanKota,mad_MojokertoKota,mad_MadiunKota,mad_Surabaya,mad_Batu
0,2018,4168.36,1427.26,6767.72,24550.38,38769.50,39079.34,13511.98,22841.94,53392.06,...,6566.94,1638.36,591.22,1445.24,1436.10,299.12,84.56,45.448276,260.68,371.30
1,2019,3737.02,882.28,4757.68,17140.78,16689.04,22519.36,3779.26,10533.90,31850.84,...,7359.96,188.62,460.94,428.34,883.42,143.16,61.04,1.623431,125.78,55.48
2,2020,763.52,3774.90,2158.68,10266.78,5497.90,5549.24,3088.76,4859.16,18524.72,...,5071.82,12.00,488.38,88.56,236.66,57.98,28.10,14.654709,47.82,34.62
3,2021,3127.50,2601.66,450.88,5485.76,1462.28,8448.58,7167.64,3542.80,4740.72,...,3235.50,120.58,115.22,571.74,223.22,23.48,26.30,11.578947,119.80,28.00
4,2022,1483.34,1404.02,44.36,3126.56,4852.68,8123.56,4635.32,2927.38,82.20,...,1191.86,4.94,56.26,764.08,201.22,33.98,23.82,0.078049,152.36,72.00

In [60]:
def totalmad (mad):
    total_mad = (Hasil_mad['mad_'+mad]).mean()         

    return total_mad

In [61]:
totalmad = {'KabPacitan' : (Hasil_mad['mad_KabPacitan'].mean()),
            'KabPonorogo' : (Hasil_mad['mad_KabPonorogo'].mean()),
            'Trenggalek' : (Hasil_mad['mad_Trenggalek'].mean()),
            'Tulungagung' : (Hasil_mad['mad_Tulungagung'].mean()),
            'Blitar' : (Hasil_mad['mad_Blitar'].mean()),
            'Kediri' : (Hasil_mad['mad_Kediri'].mean()),
            'Malang' : (Hasil_mad['mad_Malang'].mean()),
            'Lumajang' : (Hasil_mad['mad_Lumajang'].mean()),
            'Jember' : (Hasil_mad['mad_Jember'].mean()),
            'Banyuwangi' : (Hasil_mad['mad_Banyuwangi'].mean()),
            'Bondowoso' : (Hasil_mad['mad_Bondowoso'].mean()),
            'Situbondo' : (Hasil_mad['mad_Situbondo'].mean()),
            'Probolinggo' : (Hasil_mad['mad_Probolinggo'].mean()),
            'Pasuruan' : (Hasil_mad['mad_Pasuruan'].mean()),
            'Sidoarjo' : (Hasil_mad['mad_Sidoarjo'].mean()),
            'Mojokerto' : (Hasil_mad['mad_Mojokerto'].mean()),
            'Jombang' : (Hasil_mad['mad_Jombang'].mean()),
            'Nganjuk' : (Hasil_mad['mad_Nganjuk'].mean()),
            'Madiun' : (Hasil_mad['mad_Madiun'].mean()),
            'Magetan' : (Hasil_mad['mad_Magetan'].mean()),
            'Ngawi' : (Hasil_mad['mad_Ngawi'].mean()),
            'Bojonegoro' : (Hasil_mad['mad_Bojonegoro'].mean()),
            'Tuban' : (Hasil_mad['mad_Tuban'].mean()),
            'Lamongan' : (Hasil_mad['mad_Lamongan'].mean()),
            'Gresik' : (Hasil_mad['mad_Gresik'].mean()),
            'Bangkalan' : (Hasil_mad['mad_Bangkalan'].mean()),
            'Sampang' : (Hasil_mad['mad_Sampang'].mean()),
            'Pamekasan' : (Hasil_mad['mad_Pamekasan'].mean()),
            'Sumenep' : (Hasil_mad['mad_Sumenep'].mean()),
            'KediriKota' : (Hasil_mad['mad_KediriKota'].mean()),
            'BlitarKota' : (Hasil_mad['mad_BlitarKota'].mean()),
            'MalangKota' : (Hasil_mad['mad_MalangKota'].mean()),
            'ProbolinggoKota' : (Hasil_mad['mad_ProbolinggoKota'].mean()),
            'PasuruanKota' : (Hasil_mad['mad_PasuruanKota'].mean()),
            'MojokertoKota' : (Hasil_mad['mad_MojokertoKota'].mean()),
            'MadiunKota' : (Hasil_mad['mad_MadiunKota'].mean()),
            'Surabaya' : (Hasil_mad['mad_Surabaya'].mean()),
            'Batu' : (Hasil_mad['mad_Batu'].mean())
           }
    

total_mad = pd.DataFrame(totalmad, index=[0])
total_mad

,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,Banyuwangi,...,Sumenep,KediriKota,BlitarKota,MalangKota,ProbolinggoKota,PasuruanKota,MojokertoKota,MadiunKota,Surabaya,Batu
0,2655.948,2018.024,2835.864,12114.052,13454.28,16744.016,6436.592,8941.036,21718.108,13585.008,...,4685.216,392.9,342.404,659.592,596.124,111.544,44.764,14.676682,141.288,112.28

In [62]:
totalmad = total_mad.T
hasilakhirmad = totalmad[0].mean()
print ("hasil akhir mad adalah =", hasilakhirmad)

hasil akhir mad adalah = 6747.000965323651