## Import Library Yang Dibutuhkan

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Mengambil Data

In [2]:
data = pd.read_csv("Populasi Sapi Potong Tahun 2009-2020.csv")
data

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,Sumenep,KediriKota,BlitarKota,MalangKota,Probolinggokota,PasuruanKota,MojokertoKota,MadiunKota,Surabaya,Batu
0,2009,57783,61101,29806,95218,139542,114751,142344,145947,225417,...,296978,4404,3439,2745,8869,898,299,848,411,3565
1,2010,61612,63995,30980,99836,144790,123954,147865,157527,237675,...,316571,4487,3850,2786,9798,894,310,948,365,3687
2,2011,86138,89148,42560,129678,189378,268139,225895,200577,324230,...,357038,6236,3409,4430,10071,820,384,379,1126,3347
3,2012,94735,84315,43411,129549,200008,287943,240746,210039,350170,...,360862,6251,3549,4433,10473,596,355,385,740,3237
4,2013,76546,84751,29906,91789,132934,181727,189145,164892,217763,...,345095,3510,2689,4241,8519,334,162,299,218,2437
5,2014,81954,84514,31431,98987,135592,192631,199453,172920,236198,...,349081,3600,2797,4039,8863,305,154,303,116,2700
6,2015,83659,81807,32668,104824,139372,202263,212821,182993,243390,...,353124,3764,2920,3858,9217,332,127,306,265,2655
7,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,357422,3686,3076,3708,9592,379,145,306,223,2721
8,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,361127,4377,3180,3756,9983,428,138,297,129,2685
9,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,367382,4382,3225,2389,10397,432,104,290,112,2590
10,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,372623,3673,3467,2533,10764,425,102,239,45,2526
11,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,377124,3761,3855,2518,10934,457,88,223,39,2552
12,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,383059,4101,3863,2697,11061,454,103,209,113,2572
13,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,388090,4214,4044,2767,11429,466,104,205,158,2591

In [3]:
data_SMA = data
data_DMA = data

## SINGLE MOVING AVERAGE

In [4]:
periode = [4]
for i in periode:
    data_SMA['{}_MA_singlepacitan'.format(i)]= data['KabPacitan'].rolling(window=i).mean()
    data_SMA['{}_MA_singleponorogo'.format(i)]= data['KabPonorogo'].rolling(window=i).mean()
    data_SMA['{}_MA_singletrenggalek'.format(i)]= data['Trenggalek'].rolling(window=i).mean()
    data_SMA['{}_MA_singletulungagung'.format(i)]= data['Tulungagung'].rolling(window=i).mean()
    data_SMA['{}_MA_singleblitar'.format(i)]= data['Blitar'].rolling(window=i).mean()
    data_SMA['{}_MA_singlekediri'.format(i)]= data['Kediri'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemalang'.format(i)]= data['Malang'].rolling(window=i).mean()
    data_SMA['{}_MA_singlelumajang'.format(i)]= data['Lumajang'].rolling(window=i).mean()
    data_SMA['{}_MA_singlejember'.format(i)]= data['Jember'].rolling(window=i).mean()
    data_SMA['{}_MA_singlebanyuwangi'.format(i)]= data['Banyuwangi'].rolling(window=i).mean()
    data_SMA['{}_MA_singlebondowoso'.format(i)]= data['Bondowoso'].rolling(window=i).mean()
    data_SMA['{}_MA_singlesitubondo'.format(i)]= data['Situbondo'].rolling(window=i).mean()
    data_SMA['{}_MA_singleprobolinggo'.format(i)]= data['Probolinggo'].rolling(window=i).mean()
    data_SMA['{}_MA_singlepasuruan'.format(i)]= data['Pasuruan'].rolling(window=i).mean()
    data_SMA['{}_MA_singlesidoarjo'.format(i)]= data['Sidoarjo'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemojokerto'.format(i)]= data['Mojokerto'].rolling(window=i).mean()
    data_SMA['{}_MA_singlejombang'.format(i)]= data['Jombang'].rolling(window=i).mean()
    data_SMA['{}_MA_singlenganjuk'.format(i)]= data['Nganjuk'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemadiun'.format(i)]= data['Madiun'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemagetan'.format(i)]= data['Magetan'].rolling(window=i).mean()
    data_SMA['{}_MA_singlengawi'.format(i)]= data['Ngawi'].rolling(window=i).mean()
    data_SMA['{}_MA_singlebojonegoro'.format(i)]= data['Bojonegoro'].rolling(window=i).mean()
    data_SMA['{}_MA_singletuban'.format(i)]= data['Tuban'].rolling(window=i).mean()
    data_SMA['{}_MA_singlelamongan'.format(i)]= data['Lamongan'].rolling(window=i).mean()
    data_SMA['{}_MA_singlegresik'.format(i)]= data['Gresik'].rolling(window=i).mean()
    data_SMA['{}_MA_singlebangkalan'.format(i)]= data['Bangkalan'].rolling(window=i).mean()
    data_SMA['{}_MA_singlesampang'.format(i)]= data['Sampang'].rolling(window=i).mean()
    data_SMA['{}_MA_singlepamekasan'.format(i)]= data['Pamekasan'].rolling(window=i).mean()
    data_SMA['{}_MA_singlesumenep'.format(i)]= data['Sumenep'].rolling(window=i).mean()
    data_SMA['{}_MA_singlekediriKota'.format(i)]= data['KediriKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singleblitarKota'.format(i)]= data['BlitarKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemalangKota'.format(i)]= data['MalangKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singleprobolinggoKota'.format(i)]= data['Probolinggokota'].rolling(window=i).mean()
    data_SMA['{}_MA_singlepasuruanKota'.format(i)]= data['PasuruanKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemojokertoKota'.format(i)]= data['MojokertoKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singlemadiunKota'.format(i)]= data['MadiunKota'].rolling(window=i).mean()
    data_SMA['{}_MA_singlesurabaya'.format(i)]= data['Surabaya'].rolling(window=i).mean()
    data_SMA['{}_MA_singlebatu'.format(i)]= data['Batu'].rolling(window=i).mean()
data_SMA

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,4_MA_singlesumenep,4_MA_singlekediriKota,4_MA_singleblitarKota,4_MA_singlemalangKota,4_MA_singleprobolinggoKota,4_MA_singlepasuruanKota,4_MA_singlemojokertoKota,4_MA_singlemadiunKota,4_MA_singlesurabaya,4_MA_singlebatu
0,2009,57783,61101,29806,95218,139542,114751,142344,145947,225417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,61612,63995,30980,99836,144790,123954,147865,157527,237675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,86138,89148,42560,129678,189378,268139,225895,200577,324230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,94735,84315,43411,129549,200008,287943,240746,210039,350170,...,332862.25,5344.50,3561.75,3598.50,9802.75,802.00,337.00,640.00,660.50,3459.00
4,2013,76546,84751,29906,91789,132934,181727,189145,164892,217763,...,344891.50,5121.00,3374.25,3972.50,9715.25,661.00,302.75,502.75,612.25,3177.00
5,2014,81954,84514,31431,98987,135592,192631,199453,172920,236198,...,353019.00,4899.25,3111.00,4285.75,9481.50,513.75,263.75,341.50,550.00,2930.25
6,2015,83659,81807,32668,104824,139372,202263,212821,182993,243390,...,352040.50,4281.25,2988.75,4142.75,9268.00,391.75,199.50,323.25,334.75,2757.25
7,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,351180.50,3640.00,2870.50,3961.50,9047.75,337.50,147.00,303.50,205.50,2628.25
8,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,355188.50,3856.75,2993.25,3840.25,9413.75,361.00,141.00,303.00,183.25,2690.25
9,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,359763.75,4052.25,3100.25,3427.75,9797.25,392.75,128.50,299.75,182.25,2662.75
10,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,364638.50,4029.50,3237.00,3096.50,10184.00,416.00,122.25,283.00,127.25,2630.50
11,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,369564.00,4048.25,3431.75,2799.00,10519.50,435.50,108.00,262.25,81.25,2588.25
12,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,375047.00,3979.25,3602.50,2534.25,10789.00,442.00,99.25,240.25,77.25,2560.00
13,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,380224.00,3937.25,3807.25,2628.75,11047.00,450.50,99.25,219.00,88.75,2560.25

## DOUBLE MOVING AVERAGE

In [5]:
periode = [4] 

for i in periode:
    single_ma = data['KabPacitan'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleKabPacitan'.format(i)]= single_ma.rolling(window=i).mean()
    
    single_ma1 = data['KabPonorogo'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleKabPonorogo'.format(i)]= single_ma1.rolling(window=i).mean()
    
    single_ma2 = data['Trenggalek'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleTrenggalek'.format(i)]= single_ma2.rolling(window=i).mean()
    
    single_ma3 = data['Tulungagung'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleTulungagung'.format(i)]= single_ma3.rolling(window=i).mean()
    
    single_ma4 = data['Blitar'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBlitar'.format(i)]= single_ma4.rolling(window=i).mean()
    
    single_ma5 = data['Kediri'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleKediri'.format(i)]= single_ma5.rolling(window=i).mean()
    
    single_ma6 = data['Malang'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMalang'.format(i)]= single_ma6.rolling(window=i).mean()
    
    single_ma7 = data['Lumajang'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleLumajang'.format(i)]= single_ma7.rolling(window=i).mean()
    
    single_ma8 = data['Jember'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleJember'.format(i)]= single_ma8.rolling(window=i).mean()
    
    single_ma9 = data['Banyuwangi'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBanyuwangi'.format(i)]= single_ma9.rolling(window=i).mean()
    
    single_ma10 = data['Bondowoso'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBondowoso'.format(i)]= single_ma10.rolling(window=i).mean()
    
    single_ma11 = data['Situbondo'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleSitubondo'.format(i)]= single_ma11.rolling(window=i).mean()
    
    single_ma12 = data['Probolinggo'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleProbolinggo'.format(i)]= single_ma12.rolling(window=i).mean()
    
    single_ma13 = data['Pasuruan'].rolling(window=i).mean()
    data_DMA['{}_MA_doublePasuruan'.format(i)]= single_ma13.rolling(window=i).mean()
    
    single_ma14 = data['Sidoarjo'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleSidoarjo'.format(i)]= single_ma14.rolling(window=i).mean()
    
    single_ma15 = data['Mojokerto'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMojokerto'.format(i)]= single_ma15.rolling(window=i).mean()
    
    single_ma16 = data['Jombang'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleJombang'.format(i)]= single_ma16.rolling(window=i).mean()
    
    single_ma17 = data['Nganjuk'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleNganjuk'.format(i)]= single_ma17.rolling(window=i).mean()
    
    single_ma18 = data['Madiun'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMadiun'.format(i)]= single_ma18.rolling(window=i).mean()
    
    single_ma19 = data['Magetan'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMagetan'.format(i)]= single_ma19.rolling(window=i).mean()
    
    single_ma20 = data['Ngawi'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleNgawi'.format(i)]= single_ma20.rolling(window=i).mean()
    
    single_ma21 = data['Bojonegoro'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBojonegoro'.format(i)]= single_ma21.rolling(window=i).mean()
    
    single_ma22 = data['Tuban'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleTuban'.format(i)]= single_ma22.rolling(window=i).mean()
    
    single_ma23 = data['Lamongan'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleLamongan'.format(i)]= single_ma23.rolling(window=i).mean()
    
    single_ma24 = data['Gresik'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleGresik'.format(i)]= single_ma24.rolling(window=i).mean()
    
    single_ma25 = data['Bangkalan'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBangkalan'.format(i)]= single_ma25.rolling(window=i).mean()
    
    single_ma26 = data['Sampang'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleSampang'.format(i)]= single_ma26.rolling(window=i).mean()
    
    single_ma27 = data['Pamekasan'].rolling(window=i).mean()
    data_DMA['{}_MA_doublePamekasan'.format(i)]= single_ma27.rolling(window=i).mean()
    
    single_ma28 = data['Sumenep'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleSumenep'.format(i)]= single_ma28.rolling(window=i).mean()
    
    single_ma29 = data['KediriKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleKediriKota'.format(i)]= single_ma29.rolling(window=i).mean()

    single_ma30 = data['BlitarKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBlitarKota'.format(i)]= single_ma30.rolling(window=i).mean()
    
    single_ma31 = data['MalangKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMalangKota'.format(i)]= single_ma31.rolling(window=i).mean()
    
    single_ma32 = data['Probolinggokota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleProbolinggoKota'.format(i)]= single_ma32.rolling(window=i).mean()
    
    single_ma33 = data['PasuruanKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doublePasuruanKota'.format(i)]= single_ma33.rolling(window=i).mean()
    
    single_ma34 = data['MojokertoKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMojokertoKota'.format(i)]= single_ma34.rolling(window=i).mean()
    
    single_ma35 = data['MadiunKota'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleMadiunKota'.format(i)]= single_ma35.rolling(window=i).mean()
    
    single_ma36 = data['Surabaya'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleSurabaya'.format(i)]= single_ma36.rolling(window=i).mean()
    
    single_ma37 = data['Batu'].rolling(window=i).mean()
    data_DMA['{}_MA_doubleBatu'.format(i)]= single_ma37.rolling(window=i).mean()
    
data_DMA

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,4_MA_doubleSumenep,4_MA_doubleKediriKota,4_MA_doubleBlitarKota,4_MA_doubleMalangKota,4_MA_doubleProbolinggoKota,4_MA_doublePasuruanKota,4_MA_doubleMojokertoKota,4_MA_doubleMadiunKota,4_MA_doubleSurabaya,4_MA_doubleBatu
0,2009,57783,61101,29806,95218,139542,114751,142344,145947,225417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,61612,63995,30980,99836,144790,123954,147865,157527,237675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,86138,89148,42560,129678,189378,268139,225895,200577,324230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,94735,84315,43411,129549,200008,287943,240746,210039,350170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,76546,84751,29906,91789,132934,181727,189145,164892,217763,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2014,81954,84514,31431,98987,135592,192631,199453,172920,236198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,83659,81807,32668,104824,139372,202263,212821,182993,243390,...,345703.3125,4911.5000,3258.9375,3999.8750,9566.8750,592.1250,275.7500,451.8750,539.3750,3080.8750
7,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,350282.8750,4485.3750,3086.1250,4090.6250,9378.1250,476.0000,228.2500,367.7500,425.6250,2873.1875
8,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,352857.1250,4169.3125,2990.8750,4057.5625,9302.7500,401.0000,187.8125,317.8125,318.3750,2751.5000
9,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,354543.3125,3957.5625,2988.1875,3843.0625,9381.6875,370.7500,154.0000,307.3750,226.4375,2684.6250
10,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,357692.8125,3894.6250,3050.2500,3581.5000,9610.6875,376.8125,134.6875,297.3125,174.5625,2652.9375
11,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,362288.6875,3996.6875,3190.5625,3290.8750,9978.6250,401.3125,124.9375,287.0000,143.5000,2642.9375
12,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,367253.3125,4027.3125,3342.8750,2964.3750,10322.4375,421.5625,114.5000,271.3125,117.0000,2610.3750
13,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,372368.3750,3998.5625,3519.6250,2764.6250,10634.8750,436.0000,107.1875,251.1250,93.6250,2584.7500

In [6]:
#ekspor data setelah diolah ke dalam csv
data_DMA.to_csv('Hasil_DMA_4.csv', index=False)
Hasil_DMA_4 = pd.read_csv('Hasil_DMA_4.csv', encoding = 'latin1')
Hasil_DMA_4

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,4_MA_doubleSumenep,4_MA_doubleKediriKota,4_MA_doubleBlitarKota,4_MA_doubleMalangKota,4_MA_doubleProbolinggoKota,4_MA_doublePasuruanKota,4_MA_doubleMojokertoKota,4_MA_doubleMadiunKota,4_MA_doubleSurabaya,4_MA_doubleBatu
0,2009,57783,61101,29806,95218,139542,114751,142344,145947,225417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,61612,63995,30980,99836,144790,123954,147865,157527,237675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,86138,89148,42560,129678,189378,268139,225895,200577,324230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,94735,84315,43411,129549,200008,287943,240746,210039,350170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,76546,84751,29906,91789,132934,181727,189145,164892,217763,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2014,81954,84514,31431,98987,135592,192631,199453,172920,236198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,83659,81807,32668,104824,139372,202263,212821,182993,243390,...,345703.3125,4911.5000,3258.9375,3999.8750,9566.8750,592.1250,275.7500,451.8750,539.3750,3080.8750
7,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,350282.8750,4485.3750,3086.1250,4090.6250,9378.1250,476.0000,228.2500,367.7500,425.6250,2873.1875
8,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,352857.1250,4169.3125,2990.8750,4057.5625,9302.7500,401.0000,187.8125,317.8125,318.3750,2751.5000
9,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,354543.3125,3957.5625,2988.1875,3843.0625,9381.6875,370.7500,154.0000,307.3750,226.4375,2684.6250
10,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,357692.8125,3894.6250,3050.2500,3581.5000,9610.6875,376.8125,134.6875,297.3125,174.5625,2652.9375
11,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,362288.6875,3996.6875,3190.5625,3290.8750,9978.6250,401.3125,124.9375,287.0000,143.5000,2642.9375
12,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,367253.3125,4027.3125,3342.8750,2964.3750,10322.4375,421.5625,114.5000,271.3125,117.0000,2610.3750
13,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,372368.3750,3998.5625,3519.6250,2764.6250,10634.8750,436.0000,107.1875,251.1250,93.6250,2584.7500

## AT

In [7]:
import math

def AT (SMA, DMA):
    DMA_AT = []

    for i in range (len(Hasil_DMA_4)):    
        TES = 0
        if math.isnan(Hasil_DMA_4['4_MA_single'+SMA][i]):
            continue
    
        if math.isnan(Hasil_DMA_4['4_MA_double'+DMA][i]):
            continue
    
        TES = 2 * Hasil_DMA_4['4_MA_single'+SMA][i] - Hasil_DMA_4['4_MA_double'+DMA][i]

    
        DMA_AT.append(TES)
    return DMA_AT  

    print (TES)

In [8]:
dataforAT = {'AT_KabPacitan' : AT ("pacitan", "KabPacitan"),
        'AT_KabPonorogo' : AT ("ponorogo", "KabPonorogo"),
        'AT_Trenggalek' : AT ("trenggalek", "Trenggalek"),
        'AT_Tulungagung' : AT ("tulungagung", "Tulungagung"),
        'AT_Blitar' : AT ("blitar", "Blitar"),
        'AT_Kediri' : AT ("kediri", "Kediri"),
        'AT_Malang' : AT ("malang", "Malang"),
        'AT_Lumajang' : AT ("lumajang", "Lumajang"),
        'AT_Jember' : AT ("jember", "Jember"),
        'AT_Banyuwangi' : AT ("banyuwangi", "Banyuwangi"),
        'AT_Bondowoso' : AT ("bondowoso", "Bondowoso"),
        'AT_Situbondo' : AT ("situbondo", "Situbondo"),
        'AT_Probolinggo' : AT ("probolinggo", "Probolinggo"),
        'AT_Pasuruan' : AT ("pasuruan", "Pasuruan"),
        'AT_Sidoarjo' : AT ("sidoarjo", "Sidoarjo"),
        'AT_Mojokerto' : AT ("mojokerto", "Mojokerto"),
        'AT_Jombang' : AT ("jombang", "Jombang"),
        'AT_Nganjuk' : AT ("nganjuk", "Nganjuk"),
        'AT_Madiun' : AT ("madiun", "Madiun"),
        'AT_Magetan' : AT ("magetan", "Magetan"),
        'AT_Ngawi' : AT ("ngawi", "Ngawi"),
        'AT_Bojonegoro' : AT ("bojonegoro", "Bojonegoro"),
        'AT_Tuban' : AT ("tuban", "Tuban"),
        'AT_Lamongan' : AT ("lamongan", "Lamongan"),
        'AT_Gresik' : AT ("gresik", "Gresik"),
        'AT_Bangkalan': AT ("bangkalan", "Bangkalan"),
        'AT_Sampang' : AT ("sampang", "Sampang"),
        'AT_Pamekasan' : AT ("pamekasan", "Pamekasan"),
        'AT_Sumenep' : AT ("sumenep", "Sumenep"),
        'AT_KediriKota' : AT ("kediriKota", "KediriKota"),
        'AT_BlitarKota' : AT ("blitarKota", "BlitarKota"),
        'AT_MalangKota' : AT ("malangKota", "MalangKota"),
        'AT_ProbolinggoKota' : AT ("probolinggoKota", "ProbolinggoKota"),
        'AT_PasuruanKota' : AT ("pasuruanKota" , "PasuruanKota"),
        'AT_MojokertoKota' : AT ("mojokertoKota", "MojokertoKota"),
        'AT_MadiunKota' : AT ("madiunKota", "MadiunKota"),
        'AT_Surabaya' : AT ("surabaya", "Surabaya"),
        'AT_Batu' : AT ("batu", "Batu")
       }
    
    
data_AT = pd.DataFrame(dataforAT)    
data_AT

,AT_KabPacitan,AT_KabPonorogo,AT_Trenggalek,AT_Tulungagung,AT_Blitar,AT_Kediri,AT_Malang,AT_Lumajang,AT_Jember,AT_Banyuwangi,...,AT_Sumenep,AT_KediriKota,AT_BlitarKota,AT_MalangKota,AT_ProbolinggoKota,AT_PasuruanKota,AT_MojokertoKota,AT_MadiunKota,AT_Surabaya,AT_Batu
0,87474.1250,86513.3125,32561.8750,101306.6875,141037.6250,216559.8750,217463.4375,182522.1875,246059.7500,105677.9375,...,358377.6875,3651.0000,2718.5625,4285.6250,8969.1250,191.3750,123.2500,194.6250,130.1250,2433.6250
1,80660.3750,83243.3750,28978.9375,95019.2500,119486.6875,179138.2500,204681.0625,174479.4375,207907.5625,91255.3750,...,352078.1250,2794.6250,2654.8750,3832.3750,8717.3750,199.0000,65.7500,239.2500,-14.6250,2383.3125
2,84593.7500,81277.0625,32180.6875,107744.5625,133625.7500,201837.5625,223172.7500,192307.2500,234771.6250,109350.3750,...,357519.8750,3544.1875,2995.6250,3622.9375,9524.7500,321.0000,94.1875,288.1875,48.1250,2629.0000
3,87688.0625,81503.3125,35040.7500,119386.7500,148547.3125,224442.3750,237667.9375,207474.5000,253496.4375,117974.5625,...,364984.1875,4146.9375,3212.3125,3012.4375,10212.8125,414.7500,103.0000,292.1250,138.0625,2640.8750
4,90647.9375,82423.5000,37104.6250,128795.8125,155105.5000,237493.4375,244831.1875,216866.7500,265067.9375,125343.8125,...,371584.1875,4164.3750,3423.7500,2611.5000,10757.3125,455.1875,109.8125,268.6875,79.9375,2608.0625
5,92029.0625,83797.4375,38005.8750,135710.1250,156639.5625,239605.9375,246360.7500,222285.9375,268926.3125,127895.6250,...,376839.3125,4099.8125,3672.9375,2307.1250,11060.3750,469.6875,91.0625,237.5000,19.0000,2533.5625
6,94803.8125,85336.0625,39080.3750,144240.0625,156323.6875,238893.9375,246757.5000,226306.2500,274243.0000,133281.0000,...,382840.6875,3931.1875,3862.1250,2104.1250,11255.5625,462.4375,84.0000,209.1875,37.5000,2509.6250
7,97489.5000,86166.3750,40097.9375,152202.1250,154406.5625,239777.2500,251183.4375,232166.3125,279975.2500,138566.4375,...,388079.6250,3875.9375,4094.8750,2492.8750,11459.1250,465.0000,91.3125,186.8750,83.8750,2535.7500

## BT

In [9]:
def BT (SMA, DMA):
    DMA_BT = []

    for i in range (len(Hasil_DMA_4)):    
        TES = 0
        if math.isnan(Hasil_DMA_4['4_MA_single'+SMA][i]):
            continue
    
        if math.isnan(Hasil_DMA_4['4_MA_double'+DMA][i]):
            continue
    
        TES = (2/(4-1)) * (Hasil_DMA_4['4_MA_single'+SMA][i] - Hasil_DMA_4['4_MA_double'+DMA][i])

    
        DMA_BT.append(TES)
    return DMA_BT

In [10]:
dataforBT = {'BT_KabPacitan' : BT ("pacitan", "KabPacitan"),
        'BT_KabPonorogo' : BT ("ponorogo", "KabPonorogo"),
        'BT_Trenggalek' : BT ("trenggalek", "Trenggalek"),
        'BT_Tulungagung' : BT ("tulungagung", "Tulungagung"),
        'BT_Blitar' : BT ("blitar", "Blitar"),
        'BT_Kediri' : BT ("kediri", "Kediri"),
        'BT_Malang' : BT ("malang", "Malang"),
        'BT_Lumajang' : BT ("lumajang", "Lumajang"),
        'BT_Jember' : BT ("jember", "Jember"),
        'BT_Banyuwangi' : BT ("banyuwangi", "Banyuwangi"),
        'BT_Bondowoso' : BT ("bondowoso", "Bondowoso"),
        'BT_Situbondo' : BT ("situbondo", "Situbondo"),
        'BT_Probolinggo' : BT ("probolinggo", "Probolinggo"),
        'BT_Pasuruan' : BT ("pasuruan", "Pasuruan"),
        'BT_Sidoarjo' : BT ("sidoarjo", "Sidoarjo"),
        'BT_Mojokerto' : BT ("mojokerto", "Mojokerto"),
        'BT_Jombang' : BT ("jombang", "Jombang"),
        'BT_Nganjuk' : BT ("nganjuk", "Nganjuk"),
        'BT_Madiun' : BT ("madiun", "Madiun"),
        'BT_Magetan' : BT ("magetan", "Magetan"),
        'BT_Ngawi' : BT ("ngawi", "Ngawi"),
        'BT_Bojonegoro' : BT ("bojonegoro", "Bojonegoro"),
        'BT_Tuban' : BT ("tuban", "Tuban"),
        'BT_Lamongan' : BT ("lamongan", "Lamongan"),
        'BT_Gresik' : BT ("gresik", "Gresik"),
        'BT_Bangkalan': BT ("bangkalan", "Bangkalan"),
        'BT_Sampang' : BT ("sampang", "Sampang"),
        'BT_Pamekasan' : BT ("pamekasan", "Pamekasan"),
        'BT_Sumenep' : BT ("sumenep", "Sumenep"),
        'BT_KediriKota' : BT ("kediriKota", "KediriKota"),
        'BT_BlitarKota' : BT ("blitarKota", "BlitarKota"),
        'BT_MalangKota' : BT ("malangKota", "MalangKota"),
        'BT_ProbolinggoKota' : BT ("probolinggoKota", "ProbolinggoKota"),
        'BT_PasuruanKota' : BT ("pasuruanKota" , "PasuruanKota"),
        'BT_MojokertoKota' : BT ("mojokertoKota", "MojokertoKota"),
        'BT_MadiunKota' : BT ("madiunKota", "MadiunKota"),
        'BT_Surabaya' : BT ("surabaya", "Surabaya"),
        'BT_Batu' : BT ("batu", "Batu")
       }
    
data_BT = pd.DataFrame(dataforBT)    
data_BT

,BT_KabPacitan,BT_KabPonorogo,BT_Trenggalek,BT_Tulungagung,BT_Blitar,BT_Kediri,BT_Malang,BT_Lumajang,BT_Jember,BT_Banyuwangi,...,BT_Sumenep,BT_KediriKota,BT_BlitarKota,BT_MalangKota,BT_ProbolinggoKota,BT_PasuruanKota,BT_MojokertoKota,BT_MadiunKota,BT_Surabaya,BT_Batu
0,2167.083333,1777.708333,-1194.750000,-3320.375000,-7292.583333,279.250000,4614.791667,-125.875000,-10547.000000,-8660.875000,...,4224.791667,-420.166667,-180.125000,95.250000,-199.250000,-133.583333,-50.833333,-85.750000,-136.416667,-215.750000
1,-651.750000,-33.416667,-1996.041667,-4423.166667,-11883.041667,-12074.000000,-1068.625000,-2822.708333,-19305.458333,-10198.583333,...,598.416667,-563.583333,-143.750000,-86.083333,-220.250000,-92.333333,-54.166667,-42.833333,-146.750000,-163.291667
2,293.000000,-856.291667,-629.708333,265.875000,-5037.000000,-3855.958333,3703.166667,2703.833333,-7287.750000,-2283.583333,...,1554.250000,-208.375000,1.583333,-144.875000,74.000000,-26.666667,-31.208333,-9.875000,-90.083333,-40.833333
3,1242.708333,-494.458333,540.000000,4083.166667,1445.041667,4982.416667,7481.958333,6928.333333,1527.625000,1516.708333,...,3480.291667,63.125000,74.708333,-276.875000,277.041667,14.666667,-17.000000,-5.083333,-29.458333,-14.583333
4,1935.958333,-79.000000,1141.416667,6107.208333,3851.833333,8632.458333,8013.958333,8243.166667,5850.458333,3905.041667,...,4630.458333,89.916667,124.500000,-323.333333,382.208333,26.125000,-8.291667,-9.541667,-31.541667,-14.958333
5,1749.041667,385.125000,1073.250000,6370.250000,3145.708333,6636.458333,5924.666667,7335.458333,5102.708333,3402.416667,...,4850.208333,34.375000,160.791667,-327.916667,360.583333,22.791667,-11.291667,-16.500000,-41.500000,-36.458333
6,2041.708333,762.041667,1068.750000,7016.041667,2032.625000,4334.958333,4147.000000,6290.666667,5139.000000,3987.166667,...,5195.791667,-32.041667,173.083333,-286.750000,311.041667,13.625000,-10.166667,-20.708333,-26.500000,-33.583333
7,2245.500000,813.750000,1050.291667,7342.916667,828.208333,3118.500000,4069.458333,6080.375000,5316.833333,4392.458333,...,5237.083333,-40.875000,191.750000,-90.583333,274.750000,9.666667,-5.291667,-21.416667,-3.250000,-16.333333

In [32]:
#menggabungkan data
a = data_AT
b = data_BT

data_ATBT = pd.concat([a,b], axis=1)
data_ATBT

,AT_KabPacitan,AT_KabPonorogo,AT_Trenggalek,AT_Tulungagung,AT_Blitar,AT_Kediri,AT_Malang,AT_Lumajang,AT_Jember,AT_Banyuwangi,...,BT_Sumenep,BT_KediriKota,BT_BlitarKota,BT_MalangKota,BT_ProbolinggoKota,BT_PasuruanKota,BT_MojokertoKota,BT_MadiunKota,BT_Surabaya,BT_Batu
0,87474.1250,86513.3125,32561.8750,101306.6875,141037.6250,216559.8750,217463.4375,182522.1875,246059.7500,105677.9375,...,4224.791667,-420.166667,-180.125000,95.250000,-199.250000,-133.583333,-50.833333,-85.750000,-136.416667,-215.750000
1,80660.3750,83243.3750,28978.9375,95019.2500,119486.6875,179138.2500,204681.0625,174479.4375,207907.5625,91255.3750,...,598.416667,-563.583333,-143.750000,-86.083333,-220.250000,-92.333333,-54.166667,-42.833333,-146.750000,-163.291667
2,84593.7500,81277.0625,32180.6875,107744.5625,133625.7500,201837.5625,223172.7500,192307.2500,234771.6250,109350.3750,...,1554.250000,-208.375000,1.583333,-144.875000,74.000000,-26.666667,-31.208333,-9.875000,-90.083333,-40.833333
3,87688.0625,81503.3125,35040.7500,119386.7500,148547.3125,224442.3750,237667.9375,207474.5000,253496.4375,117974.5625,...,3480.291667,63.125000,74.708333,-276.875000,277.041667,14.666667,-17.000000,-5.083333,-29.458333,-14.583333
4,90647.9375,82423.5000,37104.6250,128795.8125,155105.5000,237493.4375,244831.1875,216866.7500,265067.9375,125343.8125,...,4630.458333,89.916667,124.500000,-323.333333,382.208333,26.125000,-8.291667,-9.541667,-31.541667,-14.958333
5,92029.0625,83797.4375,38005.8750,135710.1250,156639.5625,239605.9375,246360.7500,222285.9375,268926.3125,127895.6250,...,4850.208333,34.375000,160.791667,-327.916667,360.583333,22.791667,-11.291667,-16.500000,-41.500000,-36.458333
6,94803.8125,85336.0625,39080.3750,144240.0625,156323.6875,238893.9375,246757.5000,226306.2500,274243.0000,133281.0000,...,5195.791667,-32.041667,173.083333,-286.750000,311.041667,13.625000,-10.166667,-20.708333,-26.500000,-33.583333
7,97489.5000,86166.3750,40097.9375,152202.1250,154406.5625,239777.2500,251183.4375,232166.3125,279975.2500,138566.4375,...,5237.083333,-40.875000,191.750000,-90.583333,274.750000,9.666667,-5.291667,-21.416667,-3.250000,-16.333333

## FT

In [12]:
def FT (AT, BT):
    DMA_FT = []

    for i in range (len(data_ATBT)):    
        TES = 0
        if math.isnan(data_ATBT['AT_'+AT][i]):
            continue
    
        if math.isnan(data_ATBT['BT_'+BT][i]):
            continue
    
        TES = (data_ATBT['AT_'+AT][i] + data_ATBT['BT_'+BT][i])
    
        DMA_FT.append(TES)
    return DMA_FT

In [13]:
dataforFT = { 'Tahun' : ("2016", "2017", "2018", "2019", "2020", "2021", "2022","2023"),
        'FT_KabPacitan' : FT ("KabPacitan", "KabPacitan"),
        'FT_KabPonorogo' : FT ("KabPonorogo", "KabPonorogo"),
        'FT_Trenggalek' : FT ("Trenggalek", "Trenggalek"),
        'FT_Tulungagung' : FT ("Tulungagung", "Tulungagung"),
        'FT_Blitar' : FT ("Blitar", "Blitar"),
        'FT_Kediri' : FT ("Kediri", "Kediri"),
        'FT_Malang' : FT ("Malang", "Malang"),
        'FT_Lumajang' : FT ("Lumajang", "Lumajang"),
        'FT_Jember' : FT ("Jember", "Jember"),
        'FT_Banyuwangi' : FT ("Banyuwangi", "Banyuwangi"),
        'FT_Bondowoso' : FT ("Bondowoso", "Bondowoso"),
        'FT_Situbondo' : FT ("Situbondo", "Situbondo"),
        'FT_Probolinggo' : FT ("Probolinggo", "Probolinggo"),
        'FT_Pasuruan' : FT ("Pasuruan", "Pasuruan"),
        'FT_Sidoarjo' : FT ("Sidoarjo", "Sidoarjo"),
        'FT_Mojokerto' : FT ("Mojokerto", "Mojokerto"),
        'FT_Jombang' : FT ("Jombang", "Jombang"),
        'FT_Nganjuk' : FT ("Nganjuk", "Nganjuk"),
        'FT_Madiun' : FT ("Madiun", "Madiun"),
        'FT_Magetan' : FT ("Magetan", "Magetan"),
        'FT_Ngawi' : FT ("Ngawi", "Ngawi"),
        'FT_Bojonegoro' : FT ("Bojonegoro", "Bojonegoro"),
        'FT_Tuban' : FT ("Tuban", "Tuban"),
        'FT_Lamongan' : FT ("Lamongan", "Lamongan"),
        'FT_Gresik' : FT ("Gresik", "Gresik"),
        'FT_Bangkalan': FT ("Bangkalan", "Bangkalan"),
        'FT_Sampang' : FT ("Sampang", "Sampang"),
        'FT_Pamekasan' : FT ("Pamekasan", "Pamekasan"),
        'FT_Sumenep' : FT ("Sumenep", "Sumenep"),
        'FT_KediriKota' : FT ("KediriKota", "KediriKota"),
        'FT_BlitarKota' : FT ("BlitarKota", "BlitarKota"),
        'FT_MalangKota' : FT ("MalangKota", "MalangKota"),
        'FT_ProbolinggoKota' : FT ("ProbolinggoKota", "ProbolinggoKota"),
        'FT_PasuruanKota' : FT ("PasuruanKota" , "PasuruanKota"),
        'FT_MojokertoKota' : FT ("MojokertoKota", "MojokertoKota"),
        'FT_MadiunKota' : FT ("MadiunKota", "MadiunKota"),
        'FT_Surabaya' : FT ("Surabaya", "Surabaya"),
        'FT_Batu' : FT ("Batu", "Batu")
       }
    
data_FT = pd.DataFrame(dataforFT)    
data_FT

,Tahun,FT_KabPacitan,FT_KabPonorogo,FT_Trenggalek,FT_Tulungagung,FT_Blitar,FT_Kediri,FT_Malang,FT_Lumajang,FT_Jember,...,FT_Sumenep,FT_KediriKota,FT_BlitarKota,FT_MalangKota,FT_ProbolinggoKota,FT_PasuruanKota,FT_MojokertoKota,FT_MadiunKota,FT_Surabaya,FT_Batu
0,2016,89641.208333,88291.020833,31367.125000,97986.312500,133745.041667,216839.125000,222078.229167,182396.312500,235512.750000,...,362602.479167,3230.833333,2538.437500,4380.875000,8769.875000,57.791667,72.416667,108.875000,-6.291667,2217.875000
1,2017,80008.625000,83209.958333,26982.895833,90596.083333,107603.645833,167064.250000,203612.437500,171656.729167,188602.104167,...,352676.541667,2231.041667,2511.125000,3746.291667,8497.125000,106.666667,11.583333,196.416667,-161.375000,2220.020833
2,2018,84886.750000,80420.770833,31550.979167,108010.437500,128588.750000,197981.604167,226875.916667,195011.083333,227483.875000,...,359074.125000,3335.812500,2997.208333,3478.062500,9598.750000,294.333333,62.979167,278.312500,-41.958333,2588.166667
3,2019,88930.770833,81008.854167,35580.750000,123469.916667,149992.354167,229424.791667,245149.895833,214402.833333,255024.062500,...,368464.479167,4210.062500,3287.020833,2735.562500,10489.854167,429.416667,86.000000,287.041667,108.604167,2626.291667
4,2020,92583.895833,82344.500000,38246.041667,134903.020833,158957.333333,246125.895833,252845.145833,225109.916667,270918.395833,...,376214.645833,4254.291667,3548.250000,2288.166667,11139.520833,481.312500,101.520833,259.145833,48.395833,2593.104167
5,2021,93778.104167,84182.562500,39079.125000,142080.375000,159785.270833,246242.395833,252285.416667,229621.395833,274029.020833,...,381689.520833,4134.187500,3833.729167,1979.208333,11420.958333,492.479167,79.770833,221.000000,-22.500000,2497.104167
6,2022,96845.520833,86098.104167,40149.125000,151256.104167,158356.312500,243228.895833,250904.500000,232596.916667,279382.000000,...,388036.479167,3899.145833,4035.208333,1817.375000,11566.604167,476.062500,73.833333,188.479167,11.000000,2476.041667
7,2023,99735.000000,86980.125000,41148.229167,159545.041667,155234.770833,242895.750000,255252.895833,238246.687500,285292.083333,...,393316.708333,3835.062500,4286.625000,2402.291667,11733.875000,474.666667,86.020833,165.458333,80.625000,2519.416667

In [14]:
dataFT = data_FT.drop(labels=[7], axis=0) #menghapus baris

In [15]:
#ekspor data ke dalam bentuk csv
dataFT.to_csv('Hasil_FT_4.csv', index=False)
Hasil_FT_4 = pd.read_csv('Hasil_FT_4.csv', encoding = 'latin1')
Hasil_FT_4

,Tahun,FT_KabPacitan,FT_KabPonorogo,FT_Trenggalek,FT_Tulungagung,FT_Blitar,FT_Kediri,FT_Malang,FT_Lumajang,FT_Jember,...,FT_Sumenep,FT_KediriKota,FT_BlitarKota,FT_MalangKota,FT_ProbolinggoKota,FT_PasuruanKota,FT_MojokertoKota,FT_MadiunKota,FT_Surabaya,FT_Batu
0,2016,89641.208333,88291.020833,31367.125000,97986.312500,133745.041667,216839.125000,222078.229167,182396.312500,235512.750000,...,362602.479167,3230.833333,2538.437500,4380.875000,8769.875000,57.791667,72.416667,108.875000,-6.291667,2217.875000
1,2017,80008.625000,83209.958333,26982.895833,90596.083333,107603.645833,167064.250000,203612.437500,171656.729167,188602.104167,...,352676.541667,2231.041667,2511.125000,3746.291667,8497.125000,106.666667,11.583333,196.416667,-161.375000,2220.020833
2,2018,84886.750000,80420.770833,31550.979167,108010.437500,128588.750000,197981.604167,226875.916667,195011.083333,227483.875000,...,359074.125000,3335.812500,2997.208333,3478.062500,9598.750000,294.333333,62.979167,278.312500,-41.958333,2588.166667
3,2019,88930.770833,81008.854167,35580.750000,123469.916667,149992.354167,229424.791667,245149.895833,214402.833333,255024.062500,...,368464.479167,4210.062500,3287.020833,2735.562500,10489.854167,429.416667,86.000000,287.041667,108.604167,2626.291667
4,2020,92583.895833,82344.500000,38246.041667,134903.020833,158957.333333,246125.895833,252845.145833,225109.916667,270918.395833,...,376214.645833,4254.291667,3548.250000,2288.166667,11139.520833,481.312500,101.520833,259.145833,48.395833,2593.104167
5,2021,93778.104167,84182.562500,39079.125000,142080.375000,159785.270833,246242.395833,252285.416667,229621.395833,274029.020833,...,381689.520833,4134.187500,3833.729167,1979.208333,11420.958333,492.479167,79.770833,221.000000,-22.500000,2497.104167
6,2022,96845.520833,86098.104167,40149.125000,151256.104167,158356.312500,243228.895833,250904.500000,232596.916667,279382.000000,...,388036.479167,3899.145833,4035.208333,1817.375000,11566.604167,476.062500,73.833333,188.479167,11.000000,2476.041667

In [16]:
#menampilkan hasil peramalan tahun 2022 saja
Hasil_FT_4.loc[6:6]

,Tahun,FT_KabPacitan,FT_KabPonorogo,FT_Trenggalek,FT_Tulungagung,FT_Blitar,FT_Kediri,FT_Malang,FT_Lumajang,FT_Jember,...,FT_Sumenep,FT_KediriKota,FT_BlitarKota,FT_MalangKota,FT_ProbolinggoKota,FT_PasuruanKota,FT_MojokertoKota,FT_MadiunKota,FT_Surabaya,FT_Batu
6,2022,96845.520833,86098.104167,40149.125,151256.104167,158356.3125,243228.895833,250904.5,232596.916667,279382.0,...,388036.479167,3899.145833,4035.208333,1817.375,11566.604167,476.0625,73.833333,188.479167,11.0,2476.041667

In [17]:
dataaktual = pd.read_csv("Populasi Sapi Potong Tahun 2009-2020.csv")
dataaktual

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,Sumenep,KediriKota,BlitarKota,MalangKota,Probolinggokota,PasuruanKota,MojokertoKota,MadiunKota,Surabaya,Batu
0,2009,57783,61101,29806,95218,139542,114751,142344,145947,225417,...,296978,4404,3439,2745,8869,898,299,848,411,3565
1,2010,61612,63995,30980,99836,144790,123954,147865,157527,237675,...,316571,4487,3850,2786,9798,894,310,948,365,3687
2,2011,86138,89148,42560,129678,189378,268139,225895,200577,324230,...,357038,6236,3409,4430,10071,820,384,379,1126,3347
3,2012,94735,84315,43411,129549,200008,287943,240746,210039,350170,...,360862,6251,3549,4433,10473,596,355,385,740,3237
4,2013,76546,84751,29906,91789,132934,181727,189145,164892,217763,...,345095,3510,2689,4241,8519,334,162,299,218,2437
5,2014,81954,84514,31431,98987,135592,192631,199453,172920,236198,...,349081,3600,2797,4039,8863,305,154,303,116,2700
6,2015,83659,81807,32668,104824,139372,202263,212821,182993,243390,...,353124,3764,2920,3858,9217,332,127,306,265,2655
7,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,357422,3686,3076,3708,9592,379,145,306,223,2721
8,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,361127,4377,3180,3756,9983,428,138,297,129,2685
9,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,367382,4382,3225,2389,10397,432,104,290,112,2590
10,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,372623,3673,3467,2533,10764,425,102,239,45,2526
11,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,377124,3761,3855,2518,10934,457,88,223,39,2552
12,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,383059,4101,3863,2697,11061,454,103,209,113,2572
13,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,388090,4214,4044,2767,11429,466,104,205,158,2591

In [18]:
data_aktualformape = dataaktual.drop(labels=[0,1,2,3,4,5,6], axis=0) #menghapus kolom
data_aktualformape.to_csv('dataaktualformape_4.csv', index=False)
dataaktualformape_ = pd.read_csv('dataaktualformape_4.csv', encoding = 'latin1')
dataaktualformape_

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,Sumenep,KediriKota,BlitarKota,MalangKota,Probolinggokota,PasuruanKota,MojokertoKota,MadiunKota,Surabaya,Batu
0,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,357422,3686,3076,3708,9592,379,145,306,223,2721
1,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,361127,4377,3180,3756,9983,428,138,297,129,2685
2,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,367382,4382,3225,2389,10397,432,104,290,112,2590
3,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,372623,3673,3467,2533,10764,425,102,239,45,2526
4,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,377124,3761,3855,2518,10934,457,88,223,39,2552
5,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,383059,4101,3863,2697,11061,454,103,209,113,2572
6,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,388090,4214,4044,2767,11429,466,104,205,158,2591

In [19]:
#menggabungkan data
c = dataaktualformape_
d = Hasil_FT_4

dataformape = pd.concat([c,d], axis=1)
dataformape

,Tahun,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,...,FT_Sumenep,FT_KediriKota,FT_BlitarKota,FT_MalangKota,FT_ProbolinggoKota,FT_PasuruanKota,FT_MojokertoKota,FT_MadiunKota,FT_Surabaya,FT_Batu
0,2016,84393,82102,33887,111016,141347,212376,223717,194049,250112,...,362602.479167,3230.833333,2538.437500,4380.875000,8769.875000,57.791667,72.416667,108.875000,-6.291667,2217.875000
1,2017,86611,81823,34515,114556,148414,223216,234481,203044,253113,...,352676.541667,2231.041667,2511.125000,3746.291667,8497.125000,106.666667,11.583333,196.416667,-161.375000,2220.020833
2,2018,88633,83248,35853,122652,156386,230020,234761,208242,258205,...,359074.125000,3335.812500,2997.208333,3478.062500,9598.750000,294.333333,62.979167,278.312500,-41.958333,2588.166667
3,2019,91339,82995,37315,130316,151164,232567,238282,212673,263739,...,368464.479167,4210.062500,3287.020833,2735.562500,10489.854167,429.416667,86.000000,287.041667,108.604167,2626.291667
4,2020,91039,84813,37901,137095,151720,232802,242371,221172,270032,...,376214.645833,4254.291667,3548.250000,2288.166667,11139.520833,481.312500,101.520833,259.145833,48.395833,2593.104167
5,2021,95954,85716,38840,144801,153829,234177,246734,225394,274162,...,381689.520833,4134.187500,3833.729167,1979.208333,11420.958333,492.479167,79.770833,221.000000,-22.500000,2497.104167
6,2022,98153,86259,40034,152539,155944,240852,252930,232944,280067,...,388036.479167,3899.145833,4035.208333,1817.375000,11566.604167,476.062500,73.833333,188.479167,11.000000,2476.041667

## MAPE

In [20]:
def mape (aktual, prediksi):
    hasil_mape = []

    for i in range (len(dataformape)):    
        TES = 0
        if math.isnan(dataformape[aktual][i]):
            continue
    
        if math.isnan(dataformape['FT_'+prediksi][i]):
            continue
    
        TES = np.abs(((dataformape[aktual][i])-(dataformape['FT_'+prediksi][i]))/(dataformape[aktual][i]))*100
    
    #print (TES)
    
        hasil_mape.append(TES)
    return hasil_mape

In [21]:
datamape = {'Tahun' : ("2016", "2017", "2018", "2019", "2020", "2021", "2022"),
            'mape_KabPacitan' : mape ("KabPacitan", "KabPacitan"),
            'mape_KabPonorogo' : mape ("KabPonorogo", "KabPonorogo"),
            'mape_Trenggalek' : mape ("Trenggalek", "Trenggalek"),
            'mape_Tulungagung' : mape ("Tulungagung", "Tulungagung"),
            'mape_Blitar' : mape ("Blitar", "Blitar"),
            'mape_Kediri' : mape ("Kediri", "Kediri"),
            'mape_Malang' : mape ("Malang", "Malang"),
            'mape_Lumajang' : mape ("Lumajang", "Lumajang"),
            'mape_Jember' : mape ("Jember", "Jember"),
            'mape_Banyuwangi' : mape ("Banyuwangi", "Banyuwangi"),
            'mape_Bondowoso' : mape ("Bondowoso", "Bondowoso"),
            'mape_Situbondo' : mape ("Situbondo", "Situbondo"),
            'mape_Probolinggo' : mape ("Probolinggo", "Probolinggo"),
            'mape_Pasuruan' : mape ("Pasuruan", "Pasuruan"),
            'mape_Sidoarjo' : mape ("Sidoarjo", "Sidoarjo"),
            'mape_Mojokerto' : mape ("Mojokerto", "Mojokerto"),
            'mape_Jombang' : mape ("Jombang", "Jombang"),
            'mape_Nganjuk' : mape ("Nganjuk", "Nganjuk"),
            'mape_Madiun' : mape ("Madiun", "Madiun"),
            'mape_Magetan' : mape ("Magetan", "Magetan"),
            'mape_Ngawi' : mape ("Ngawi", "Ngawi"),
            'mape_Bojonegoro' : mape ("Bojonegoro", "Bojonegoro"),
            'mape_Tuban' : mape ("Tuban", "Tuban"),
            'mape_Lamongan' : mape ("Lamongan", "Lamongan"),
            'mape_Gresik' : mape ("Gresik", "Gresik"),
            'mape_Bangkalan': mape ("Bangkalan", "Bangkalan"),
            'mape_Sampang' : mape ("Sampang", "Sampang"),
            'mape_Pamekasan' : mape ("Pamekasan", "Pamekasan"),
            'mape_Sumenep' : mape ("Sumenep", "Sumenep"),
            'mape_KediriKota' : mape ("KediriKota", "KediriKota"),
            'mape_BlitarKota' : mape ("BlitarKota", "BlitarKota"),
            'mape_MalangKota' : mape ("MalangKota", "MalangKota"),
            'mape_ProbolinggoKota' : mape ("Probolinggokota", "ProbolinggoKota"),
            'mape_PasuruanKota' : mape ("PasuruanKota" , "PasuruanKota"),
            'mape_MojokertoKota' : mape ("MojokertoKota", "MojokertoKota"),
            'mape_MadiunKota' : mape ("MadiunKota", "MadiunKota"),
            'mape_Surabaya' : mape ("Surabaya", "Surabaya"),
            'mape_Batu' : mape ("Batu", "Batu")
       }

Hasil_mape = pd.DataFrame(datamape) 
Hasil_mape

,Tahun,mape_KabPacitan,mape_KabPonorogo,mape_Trenggalek,mape_Tulungagung,mape_Blitar,mape_Kediri,mape_Malang,mape_Lumajang,mape_Jember,...,mape_Sumenep,mape_KediriKota,mape_BlitarKota,mape_MalangKota,mape_ProbolinggoKota,mape_PasuruanKota,mape_MojokertoKota,mape_MadiunKota,mape_Surabaya,mape_Batu
0,2016,6.218772,7.538210,7.436111,11.736765,5.378224,2.101520,0.732520,6.005023,5.837085,...,1.449401,12.348526,17.476024,18.146575,8.570945,84.751539,50.057471,64.419935,102.821375,18.490445
1,2017,7.623021,1.695071,21.822698,20.915462,27.497645,25.155791,13.164633,15.458359,25.486994,...,2.340024,49.028063,21.033805,0.258475,14.884053,75.077882,91.606280,33.866442,225.096899,17.317660
2,2018,4.226699,3.396153,11.999054,11.937484,17.774769,13.928526,3.358771,6.353625,11.897959,...,2.261372,23.874658,7.063307,45.586542,7.677695,31.867284,39.443109,4.030172,137.462798,0.070785
3,2019,2.636584,2.393091,4.647595,5.253448,0.775083,1.351098,2.882255,0.813377,3.304380,...,1.116013,14.621903,5.191208,7.996940,2.546877,1.039216,15.686275,20.101116,141.342593,3.970375
4,2020,1.696960,2.910521,0.910376,1.598876,4.770191,5.723274,4.321534,1.780477,0.328256,...,0.241129,13.115971,7.957198,9.127615,1.879649,5.320022,15.364583,16.208894,24.091880,1.610665
5,2021,2.267645,1.788975,0.615667,1.878872,3.872008,5.152255,2.249960,1.875558,0.048504,...,0.357511,0.809254,0.757723,26.614448,3.254302,8.475587,22.552589,5.741627,119.911504,2.911969
6,2022,1.332083,0.186526,0.287568,0.841028,1.546909,0.986870,0.800814,0.148999,0.244584,...,0.013791,7.471622,0.217400,34.319660,1.203991,2.159335,29.006410,8.058943,93.037975,4.436833

In [24]:
def totalmape (mape):
    total_mape = (Hasil_mape['mape_'+mape]).mean()         
    return total_mape

In [25]:
totalmape = {'KabPacitan' : (Hasil_mape['mape_KabPacitan'].mean()),
            'KabPonorogo' : (Hasil_mape['mape_KabPonorogo'].mean()),
            'Trenggalek' : (Hasil_mape['mape_Trenggalek'].mean()),
            'Tulungagung' : (Hasil_mape['mape_Tulungagung'].mean()),
            'Blitar' : (Hasil_mape['mape_Blitar'].mean()),
            'Kediri' : (Hasil_mape['mape_Kediri'].mean()),
            'Malang' : (Hasil_mape['mape_Malang'].mean()),
            'Lumajang' : (Hasil_mape['mape_Lumajang'].mean()),
            'Jember' : (Hasil_mape['mape_Jember'].mean()),
            'Banyuwangi' : (Hasil_mape['mape_Banyuwangi'].mean()),
            'Bondowoso' : (Hasil_mape['mape_Bondowoso'].mean()),
            'Situbondo' : (Hasil_mape['mape_Situbondo'].mean()),
            'Probolinggo' : (Hasil_mape['mape_Probolinggo'].mean()),
            'Pasuruan' : (Hasil_mape['mape_Pasuruan'].mean()),
            'Sidoarjo' : (Hasil_mape['mape_Sidoarjo'].mean()),
            'Mojokerto' : (Hasil_mape['mape_Mojokerto'].mean()),
            'Jombang' : (Hasil_mape['mape_Jombang'].mean()),
            'Nganjuk' : (Hasil_mape['mape_Nganjuk'].mean()),
            'Madiun' : (Hasil_mape['mape_Madiun'].mean()),
            'Magetan' : (Hasil_mape['mape_Magetan'].mean()),
            'Ngawi' : (Hasil_mape['mape_Ngawi'].mean()),
            'Bojonegoro' : (Hasil_mape['mape_Bojonegoro'].mean()),
            'Tuban' : (Hasil_mape['mape_Tuban'].mean()),
            'Lamongan' : (Hasil_mape['mape_Lamongan'].mean()),
            'Gresik' : (Hasil_mape['mape_Gresik'].mean()),
            'Bangkalan' : (Hasil_mape['mape_Bangkalan'].mean()),
            'Sampang' : (Hasil_mape['mape_Sampang'].mean()),
            'Pamekasan' : (Hasil_mape['mape_Pamekasan'].mean()),
            'Sumenep' : (Hasil_mape['mape_Sumenep'].mean()),
            'KediriKota' : (Hasil_mape['mape_KediriKota'].mean()),
            'BlitarKota' : (Hasil_mape['mape_BlitarKota'].mean()),
            'MalangKota' : (Hasil_mape['mape_MalangKota'].mean()),
            'ProbolinggoKota' : (Hasil_mape['mape_ProbolinggoKota'].mean()),
            'PasuruanKota' : (Hasil_mape['mape_PasuruanKota'].mean()),
            'MojokertoKota' : (Hasil_mape['mape_MojokertoKota'].mean()),
            'MadiunKota' : (Hasil_mape['mape_MadiunKota'].mean()),
            'Surabaya' : (Hasil_mape['mape_Surabaya'].mean()),
            'Batu' : (Hasil_mape['mape_Batu'].mean())
           }
    
#totalmad
total_mape = pd.DataFrame(totalmape, index=[0])
total_mape

,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,Banyuwangi,...,Sumenep,KediriKota,BlitarKota,MalangKota,ProbolinggoKota,PasuruanKota,MojokertoKota,MadiunKota,Surabaya,Batu
0,3.714538,2.844078,6.81701,7.737419,8.802118,7.771333,3.93007,4.633631,6.735395,9.432059,...,1.11132,17.324285,8.528095,20.292894,5.716787,29.812981,37.673817,21.775304,120.537861,6.972676

In [26]:
totalmape = total_mape.T #transpose data
hasilakhirmape = totalmape[0].mean()
print ("hasil akhir mape adalah =", hasilakhirmape)

hasil akhir mape adalah = 11.535280525985963

## MAD

In [27]:
def mad (aktual, prediksi):
    hasil_mad = []

    for i in range (len(dataformape)):    
        TES = 0
        if math.isnan(dataformape[aktual][i]):
            continue
    
        if math.isnan(dataformape['FT_'+prediksi][i]):
            continue
    
        TES = np.mean(np.abs((dataformape[aktual][i])-(dataformape['FT_'+prediksi][i])))
    
    #print (TES)
    
        hasil_mad.append(TES)
    return hasil_mad

In [28]:
datamad = { 'Tahun' : ("2016", "2017", "2018", "2019", "2020", "2021", "2022"),
            'mad_KabPacitan' : mad ("KabPacitan", "KabPacitan"),
            'mad_KabPonorogo' : mad ("KabPonorogo", "KabPonorogo"),
            'mad_Trenggalek' : mad ("Trenggalek", "Trenggalek"),
            'mad_Tulungagung' : mad ("Tulungagung", "Tulungagung"),
            'mad_Blitar' : mad ("Blitar", "Blitar"),
            'mad_Kediri' : mad ("Kediri", "Kediri"),
            'mad_Malang' : mad ("Malang", "Malang"),
            'mad_Lumajang' : mad ("Lumajang", "Lumajang"),
            'mad_Jember' : mad ("Jember", "Jember"),
            'mad_Banyuwangi' : mad ("Banyuwangi", "Banyuwangi"),
            'mad_Bondowoso' : mad ("Bondowoso", "Bondowoso"),
            'mad_Situbondo' : mad ("Situbondo", "Situbondo"),
            'mad_Probolinggo' : mad ("Probolinggo", "Probolinggo"),
            'mad_Pasuruan' : mad ("Pasuruan", "Pasuruan"),
            'mad_Sidoarjo' : mad ("Sidoarjo", "Sidoarjo"),
            'mad_Mojokerto' : mad ("Mojokerto", "Mojokerto"),
            'mad_Jombang' : mad ("Jombang", "Jombang"),
            'mad_Nganjuk' : mad ("Nganjuk", "Nganjuk"),
            'mad_Madiun' : mad ("Madiun", "Madiun"),
            'mad_Magetan' : mad ("Magetan", "Magetan"),
            'mad_Ngawi' : mad ("Ngawi", "Ngawi"),
            'mad_Bojonegoro' : mad ("Bojonegoro", "Bojonegoro"),
            'mad_Tuban' : mad ("Tuban", "Tuban"),
            'mad_Lamongan' : mad ("Lamongan", "Lamongan"),
            'mad_Gresik' : mad ("Gresik", "Gresik"),
            'mad_Bangkalan': mad ("Bangkalan", "Bangkalan"),
            'mad_Sampang' : mad ("Sampang", "Sampang"),
            'mad_Pamekasan' : mad ("Pamekasan", "Pamekasan"),
            'mad_Sumenep' : mad ("Sumenep", "Sumenep"),
            'mad_KediriKota' : mad ("KediriKota", "KediriKota"),
            'mad_BlitarKota' : mad ("BlitarKota", "BlitarKota"),
            'mad_MalangKota' : mad ("MalangKota", "MalangKota"),
            'mad_ProbolinggoKota' : mad ("Probolinggokota", "ProbolinggoKota"),
            'mad_PasuruanKota' : mad ("PasuruanKota" , "PasuruanKota"),
            'mad_MojokertoKota' : mad ("MojokertoKota", "MojokertoKota"),
            'mad_MadiunKota' : mape ("MadiunKota", "MadiunKota"),
            'mad_Surabaya' : mad ("Surabaya", "Surabaya"),
            'mad_Batu' : mad ("Batu", "Batu")
       }

Hasil_mad = pd.DataFrame(datamad) 
Hasil_mad

,Tahun,mad_KabPacitan,mad_KabPonorogo,mad_Trenggalek,mad_Tulungagung,mad_Blitar,mad_Kediri,mad_Malang,mad_Lumajang,mad_Jember,...,mad_Sumenep,mad_KediriKota,mad_BlitarKota,mad_MalangKota,mad_ProbolinggoKota,mad_PasuruanKota,mad_MojokertoKota,mad_MadiunKota,mad_Surabaya,mad_Batu
0,2016,5248.208333,6189.020833,2519.875000,13029.687500,7601.958333,4463.125000,1638.770833,11652.687500,14599.250000,...,5180.479167,455.166667,537.562500,672.875000,822.125000,321.208333,72.583333,64.419935,229.291667,503.125000
1,2017,6602.375000,1386.958333,7532.104167,23959.916667,40810.354167,56151.750000,30868.562500,31387.270833,64510.895833,...,8450.458333,2145.958333,668.875000,9.708333,1485.875000,321.333333,126.416667,33.866442,290.375000,464.979167
2,2018,3746.250000,2827.229167,4302.020833,14641.562500,27797.250000,32038.395833,7885.083333,13230.916667,30721.125000,...,8307.875000,1046.187500,227.791667,1089.062500,798.250000,137.666667,41.020833,4.030172,153.958333,1.833333
3,2019,2408.229167,1986.145833,1734.250000,6846.083333,1171.645833,3142.208333,6867.895833,1729.833333,8714.937500,...,4158.520833,537.062500,179.979167,202.562500,274.145833,4.416667,16.000000,20.101116,63.604167,100.291667
4,2020,1544.895833,2468.500000,345.041667,2191.979167,7237.333333,13323.895833,10474.145833,3937.916667,886.395833,...,909.354167,493.291667,306.750000,229.833333,205.520833,24.312500,13.520833,16.208894,9.395833,41.104167
5,2021,2175.895833,1533.437500,239.125000,2720.625000,5956.270833,12065.395833,5551.416667,4227.395833,132.979167,...,1369.479167,33.187500,29.270833,717.791667,359.958333,38.479167,23.229167,5.741627,135.500000,74.895833
6,2022,1307.479167,160.895833,115.125000,1282.895833,2412.312500,2376.895833,2025.500000,347.083333,685.000000,...,53.520833,314.854167,8.791667,949.625000,137.604167,10.062500,30.166667,8.058943,147.000000,114.958333

In [29]:
def totalmad (mad):
    total_mad = (Hasil_mad['mad_'+mad]).mean()         

    return total_mad

In [30]:
totalmad = {'KabPacitan' : (Hasil_mad['mad_KabPacitan'].mean()),
            'KabPonorogo' : (Hasil_mad['mad_KabPonorogo'].mean()),
            'Trenggalek' : (Hasil_mad['mad_Trenggalek'].mean()),
            'Tulungagung' : (Hasil_mad['mad_Tulungagung'].mean()),
            'Blitar' : (Hasil_mad['mad_Blitar'].mean()),
            'Kediri' : (Hasil_mad['mad_Kediri'].mean()),
            'Malang' : (Hasil_mad['mad_Malang'].mean()),
            'Lumajang' : (Hasil_mad['mad_Lumajang'].mean()),
            'Jember' : (Hasil_mad['mad_Jember'].mean()),
            'Banyuwangi' : (Hasil_mad['mad_Banyuwangi'].mean()),
            'Bondowoso' : (Hasil_mad['mad_Bondowoso'].mean()),
            'Situbondo' : (Hasil_mad['mad_Situbondo'].mean()),
            'Probolinggo' : (Hasil_mad['mad_Probolinggo'].mean()),
            'Pasuruan' : (Hasil_mad['mad_Pasuruan'].mean()),
            'Sidoarjo' : (Hasil_mad['mad_Sidoarjo'].mean()),
            'Mojokerto' : (Hasil_mad['mad_Mojokerto'].mean()),
            'Jombang' : (Hasil_mad['mad_Jombang'].mean()),
            'Nganjuk' : (Hasil_mad['mad_Nganjuk'].mean()),
            'Madiun' : (Hasil_mad['mad_Madiun'].mean()),
            'Magetan' : (Hasil_mad['mad_Magetan'].mean()),
            'Ngawi' : (Hasil_mad['mad_Ngawi'].mean()),
            'Bojonegoro' : (Hasil_mad['mad_Bojonegoro'].mean()),
            'Tuban' : (Hasil_mad['mad_Tuban'].mean()),
            'Lamongan' : (Hasil_mad['mad_Lamongan'].mean()),
            'Gresik' : (Hasil_mad['mad_Gresik'].mean()),
            'Bangkalan' : (Hasil_mad['mad_Bangkalan'].mean()),
            'Sampang' : (Hasil_mad['mad_Sampang'].mean()),
            'Pamekasan' : (Hasil_mad['mad_Pamekasan'].mean()),
            'Sumenep' : (Hasil_mad['mad_Sumenep'].mean()),
            'KediriKota' : (Hasil_mad['mad_KediriKota'].mean()),
            'BlitarKota' : (Hasil_mad['mad_BlitarKota'].mean()),
            'MalangKota' : (Hasil_mad['mad_MalangKota'].mean()),
            'ProbolinggoKota' : (Hasil_mad['mad_ProbolinggoKota'].mean()),
            'PasuruanKota' : (Hasil_mad['mad_PasuruanKota'].mean()),
            'MojokertoKota' : (Hasil_mad['mad_MojokertoKota'].mean()),
            'MadiunKota' : (Hasil_mad['mad_MadiunKota'].mean()),
            'Surabaya' : (Hasil_mad['mad_Surabaya'].mean()),
            'Batu' : (Hasil_mad['mad_Batu'].mean())
           }
    
#totalmad
total_mad = pd.DataFrame(totalmad, index=[0])
total_mad

,KabPacitan,KabPonorogo,Trenggalek,Tulungagung,Blitar,Kediri,Malang,Lumajang,Jember,Banyuwangi,...,Sumenep,KediriKota,BlitarKota,MalangKota,ProbolinggoKota,PasuruanKota,MojokertoKota,MadiunKota,Surabaya,Batu
0,3290.47619,2364.598214,2398.220238,9238.964286,13283.875,17651.666667,9330.196429,9501.872024,17178.654762,11176.818452,...,4061.383929,717.958333,279.860119,553.065476,583.354167,122.497024,46.133929,21.775304,147.017857,185.883929

In [31]:
totalmad = total_mad.T #trasnpose data
hasilakhirmad = totalmad[0].mean()
print ("hasil akhir mad adalah =", hasilakhirmad)

hasil akhir mad adalah = 6132.635769281088